@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
html {
  font: 5vmin/1.3 Serif;
  overflow: auto;
  background: #123;
}

body, head {
  display: block;
  font-size: 52px;
  color: white;
  background-color: transparent;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: auto;
}

h3 {
  font-size: 0.8em;
  font-weight: 400;
  font-style: normal;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  text-align: center;
}

a {
  color: yellow;
}

a:hover {
  color: orange;
}

a:visited {
  color: yellow;
}

a:visited:hover {
  color: orange;
}

p {
  font-size: 0.6em;
  font-weight: 400;
  font-style: normal;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
}

.space-grotesk-main {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#background-static {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/galaxy2.jpg) no-repeat center center fixed;
  background-size: cover;
  z-index: -1;
}

#solar-systems-title {
  color: white;
  text-align: center;
}

#glow {
  color: #fdec6e;
}
#glow:hover {
  color: #fdec6e;
  text-shadow: 0px 0px 30px #fdec6e;
}

head::before, head::after,
body::before, body::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: ".";
  mix-blend-mode: screen;
  animation: 44s -27s move infinite ease-in-out alternate;
}

body::before {
  text-shadow: 1.9356899994em 2.1610966856em 7px hsla(76.8523308214, 100%, 50%, 0.9), 0.2019680492em 1.2382436745em 7px hsla(94.977447055, 100%, 50%, 0.9), 0.7156124195em 0.3925152087em 7px hsla(316.4648204923, 100%, 50%, 0.9), 1.3060565767em -0.0452098728em 7px hsla(132.6289222874, 100%, 50%, 0.9), 0.3847767829em 0.6111708886em 7px hsla(32.3914418098, 100%, 50%, 0.9), -0.2165819454em 2.289824562em 7px hsla(156.1289233535, 100%, 50%, 0.9), 0.5853983874em 1.6380798303em 7px hsla(266.7148021126, 100%, 50%, 0.9), 0.8608500361em 2.4145756456em 7px hsla(330.2313594575, 100%, 50%, 0.9), 1.5701577553em 0.9553616581em 7px hsla(2.5016127496, 100%, 50%, 0.9), 0.0106709018em 0.0870529753em 7px hsla(225.2204872436, 100%, 50%, 0.9), 0.6861661547em -0.4524713441em 7px hsla(239.6104772018, 100%, 50%, 0.9), 0.5405475963em -0.0957024766em 7px hsla(286.4058363612, 100%, 50%, 0.9), 0.6378275867em 0.3738758119em 7px hsla(51.2707069514, 100%, 50%, 0.9), 1.4517733274em 1.3706634455em 7px hsla(151.6703077159, 100%, 50%, 0.9), 1.7528078094em 0.0092515357em 7px hsla(100.5558303565, 100%, 50%, 0.9), 2.0277408593em 2.4862940669em 7px hsla(350.51544341, 100%, 50%, 0.9), 0.8224289892em 1.2837498435em 7px hsla(22.5286662629, 100%, 50%, 0.9), 1.2753159245em 2.1437906272em 7px hsla(344.8848515893, 100%, 50%, 0.9), 0.6518058049em 1.7702025194em 7px hsla(347.7183293244, 100%, 50%, 0.9), 1.1667571265em -0.4111779347em 7px hsla(78.0466924115, 100%, 50%, 0.9), 0.932046518em 2.1174106255em 7px hsla(255.1325395733, 100%, 50%, 0.9), 2.4409429665em 0.3663631768em 7px hsla(217.782246917, 100%, 50%, 0.9), 2.2432128989em 0.9570828852em 7px hsla(64.7141384037, 100%, 50%, 0.9), 1.5538443286em 1.3413200775em 7px hsla(2.6686993197, 100%, 50%, 0.9), 0.3683654687em 1.5792412682em 7px hsla(221.661031795, 100%, 50%, 0.9), 0.4408160996em 0.9571256736em 7px hsla(141.4984304806, 100%, 50%, 0.9), 0.2071896376em 2.3755936664em 7px hsla(12.9129159584, 100%, 50%, 0.9), 0.1555096372em 2.4306751855em 7px hsla(350.3546135838, 100%, 50%, 0.9), -0.2397269909em 1.6959761369em 7px hsla(185.1719935025, 100%, 50%, 0.9), -0.1131710646em 2.2453036135em 7px hsla(209.8064390212, 100%, 50%, 0.9), 0.4800946147em 2.4586482871em 7px hsla(0.2309998769, 100%, 50%, 0.9), 0.8616514919em 0.4196358543em 7px hsla(176.3959384037, 100%, 50%, 0.9), 0.4145812352em 1.0791872893em 7px hsla(347.8683149118, 100%, 50%, 0.9), 0.0679893222em -0.0143152722em 7px hsla(280.8759871997, 100%, 50%, 0.9), -0.0756002213em 2.3888128098em 7px hsla(100.8952867499, 100%, 50%, 0.9), 0.3142678574em -0.1357044757em 7px hsla(40.7025980111, 100%, 50%, 0.9), 2.3684869881em 0.4578457086em 7px hsla(68.7153876359, 100%, 50%, 0.9), -0.3960138274em 2.3169173417em 7px hsla(250.8700257855, 100%, 50%, 0.9), 0.2368555622em 1.4550589914em 7px hsla(356.9167212735, 100%, 50%, 0.9), 0.0960853385em 1.2710523645em 7px hsla(71.8771329127, 100%, 50%, 0.9), 1.314932911em 1.6221208975em 7px hsla(172.7440166115, 100%, 50%, 0.9);
  z-index: -1;
  pointer-events: none;
  animation-duration: 44s;
  animation-delay: -27s;
}

body::after {
  text-shadow: 0.5081191925em -0.3263471743em 7px hsla(315.2314305474, 100%, 50%, 0.9), 1.2296301686em 0.6311866313em 7px hsla(141.6719881572, 100%, 50%, 0.9), 1.208984346em 0.7475346166em 7px hsla(293.5359836377, 100%, 50%, 0.9), 0.1463081435em 0.2958291682em 7px hsla(323.062058037, 100%, 50%, 0.9), 0.3643865356em 1.1529567709em 7px hsla(129.0389995177, 100%, 50%, 0.9), -0.4368619346em 1.481257049em 7px hsla(127.6913726645, 100%, 50%, 0.9), 1.4046217148em 1.7690630768em 7px hsla(163.8639632741, 100%, 50%, 0.9), 1.0189404032em 0.0273004238em 7px hsla(65.087063843, 100%, 50%, 0.9), -0.4336457153em -0.0873285408em 7px hsla(77.7147561454, 100%, 50%, 0.9), 1.9692780172em -0.1932883265em 7px hsla(25.2566606724, 100%, 50%, 0.9), 1.6098094282em -0.2459072988em 7px hsla(345.6060360283, 100%, 50%, 0.9), 0.8248537426em 2.1760836997em 7px hsla(338.8992289256, 100%, 50%, 0.9), 0.8537711154em -0.1562314208em 7px hsla(93.0584982948, 100%, 50%, 0.9), 1.3778595914em 2.1810921526em 7px hsla(296.9367853988, 100%, 50%, 0.9), 0.7654799317em 0.954727448em 7px hsla(115.1398633462, 100%, 50%, 0.9), 2.2387599113em 0.4707396922em 7px hsla(38.6070567522, 100%, 50%, 0.9), 0.2244569498em 1.9182960665em 7px hsla(134.5417358953, 100%, 50%, 0.9), -0.3309304869em 2.211152451em 7px hsla(255.512868179, 100%, 50%, 0.9), 0.39093761em 0.5679274685em 7px hsla(258.8740547139, 100%, 50%, 0.9), 2.1303769396em 1.6434980387em 7px hsla(94.2281949993, 100%, 50%, 0.9), 1.4534246894em 1.4832647916em 7px hsla(171.4485796101, 100%, 50%, 0.9), -0.4367210264em -0.1148064039em 7px hsla(298.3498310682, 100%, 50%, 0.9), 2.0786003447em 1.8075726509em 7px hsla(167.311710695, 100%, 50%, 0.9), 1.4296963532em 0.906551003em 7px hsla(51.867440841, 100%, 50%, 0.9), 0.1414361294em 1.1541957699em 7px hsla(31.5432363337, 100%, 50%, 0.9), 0.7276867454em 1.5056721571em 7px hsla(194.782975104, 100%, 50%, 0.9), 2.0249128213em 1.9862895746em 7px hsla(42.4456299036, 100%, 50%, 0.9), 1.7526790325em 1.4317160176em 7px hsla(273.4532111022, 100%, 50%, 0.9), 2.0048161863em -0.4916801124em 7px hsla(241.1576483056, 100%, 50%, 0.9), 0.4140735498em 0.3724659743em 7px hsla(160.7814557728, 100%, 50%, 0.9), 2.4432400806em 2.343079144em 7px hsla(205.0280826581, 100%, 50%, 0.9), 0.6293129964em -0.3173626689em 7px hsla(212.557896382, 100%, 50%, 0.9), 1.9469865381em 0.6741560006em 7px hsla(191.5485722397, 100%, 50%, 0.9), 1.4817698967em 0.9896096115em 7px hsla(33.7657844673, 100%, 50%, 0.9), 2.0715631495em 1.9654014349em 7px hsla(59.3823968715, 100%, 50%, 0.9), -0.3739623018em -0.1464035825em 7px hsla(74.6809444141, 100%, 50%, 0.9), 2.285348812em 2.0494729298em 7px hsla(153.4720236265, 100%, 50%, 0.9), 1.2115701977em -0.1051695813em 7px hsla(160.6412210644, 100%, 50%, 0.9), 1.1067515089em 0.7893788514em 7px hsla(262.668315404, 100%, 50%, 0.9), 0.3776483361em 1.6962861874em 7px hsla(145.8683361087, 100%, 50%, 0.9), 1.5694395624em -0.3483833579em 7px hsla(91.7883248293, 100%, 50%, 0.9);
  z-index: -1;
  pointer-events: none;
  animation-duration: 43s;
  animation-delay: -32s;
}

head::before {
  text-shadow: 1.4715799421em -0.4534184259em 7px hsla(133.3864670632, 100%, 50%, 0.9), 1.9351359274em 1.8445032887em 7px hsla(296.6512369862, 100%, 50%, 0.9), 0.5971938175em -0.2693065596em 7px hsla(44.2328160506, 100%, 50%, 0.9), 0.6552451006em -0.281936609em 7px hsla(95.8876506455, 100%, 50%, 0.9), -0.3491288352em 0.1373105625em 7px hsla(95.6779358598, 100%, 50%, 0.9), 1.0589799761em 0.1488492354em 7px hsla(279.9381405023, 100%, 50%, 0.9), 0.442012057em 2.1624020801em 7px hsla(286.0586278729, 100%, 50%, 0.9), 0.2539519333em 2.1911530848em 7px hsla(80.5713105666, 100%, 50%, 0.9), 0.467995485em 2.346403336em 7px hsla(81.9228430879, 100%, 50%, 0.9), 1.8785647187em 1.0658029762em 7px hsla(143.3983683498, 100%, 50%, 0.9), 0.9815498414em 1.396778367em 7px hsla(111.8190864065, 100%, 50%, 0.9), 0.5476578649em -0.2526624147em 7px hsla(359.3766418765, 100%, 50%, 0.9), 1.2925987649em 1.2080739607em 7px hsla(224.0992750553, 100%, 50%, 0.9), -0.4275849936em 1.6370808545em 7px hsla(28.1386746474, 100%, 50%, 0.9), 1.1200020877em 0.5301262576em 7px hsla(320.1365051122, 100%, 50%, 0.9), 2.2126922578em 0.2817942888em 7px hsla(42.03346479, 100%, 50%, 0.9), 2.0907265576em 0.4215764604em 7px hsla(23.8482504586, 100%, 50%, 0.9), 2.4088230074em 1.6923633793em 7px hsla(355.0527941078, 100%, 50%, 0.9), 1.5465168643em 1.8337301919em 7px hsla(120.0043589506, 100%, 50%, 0.9), -0.0636164965em -0.1009490531em 7px hsla(107.8247292439, 100%, 50%, 0.9), 0.2284870081em 1.5916837766em 7px hsla(2.7472065903, 100%, 50%, 0.9), 0.7588761499em 0.7102728084em 7px hsla(194.727495777, 100%, 50%, 0.9), -0.0775178244em 1.5745495997em 7px hsla(307.9556742256, 100%, 50%, 0.9), 0.7677285781em -0.2838326777em 7px hsla(329.2562018406, 100%, 50%, 0.9), 0.8362373854em -0.4585199565em 7px hsla(284.2837600558, 100%, 50%, 0.9), 2.0224649145em 0.8522640812em 7px hsla(163.9511553622, 100%, 50%, 0.9), -0.1952849208em 1.7061554755em 7px hsla(78.8390758803, 100%, 50%, 0.9), -0.4670937565em 1.7526632476em 7px hsla(327.372324675, 100%, 50%, 0.9), 0.0248432776em 1.5294385233em 7px hsla(3.9163475586, 100%, 50%, 0.9), 1.486828813em 0.7816781189em 7px hsla(138.7022917371, 100%, 50%, 0.9), -0.3716498543em -0.1419610509em 7px hsla(148.5919114293, 100%, 50%, 0.9), 2.0726392297em 1.6198581552em 7px hsla(320.5609080454, 100%, 50%, 0.9), 0.6763010744em 1.924195988em 7px hsla(295.7369101135, 100%, 50%, 0.9), 0.7425989377em 0.2231927597em 7px hsla(110.5065435643, 100%, 50%, 0.9), 0.7955230889em 1.2962430921em 7px hsla(146.7622643026, 100%, 50%, 0.9), 1.6617003513em 0.0877713738em 7px hsla(358.0396037344, 100%, 50%, 0.9), 1.2176760558em -0.4420183623em 7px hsla(22.7726636982, 100%, 50%, 0.9), 1.3036723917em 0.2233752148em 7px hsla(159.7889686666, 100%, 50%, 0.9), 0.6210600413em 2.4891788304em 7px hsla(356.8241513759, 100%, 50%, 0.9), 1.5587598118em 2.4335079159em 7px hsla(149.3827879058, 100%, 50%, 0.9), 0.2953267671em -0.0940108142em 7px hsla(47.7626002752, 100%, 50%, 0.9);
  z-index: -1;
  pointer-events: none;
  animation-duration: 42s;
  animation-delay: -23s;
}

head::after {
  text-shadow: -0.0492261474em 2.1510833526em 7px hsla(109.5787326754, 100%, 50%, 0.9), 2.2046674319em 2.068368353em 7px hsla(117.1608395209, 100%, 50%, 0.9), 2.1880531643em -0.3336709551em 7px hsla(244.7790929537, 100%, 50%, 0.9), 1.9606690805em 0.4780325321em 7px hsla(2.7348023552, 100%, 50%, 0.9), 2.0882968507em 0.829143884em 7px hsla(263.5923137685, 100%, 50%, 0.9), 2.0525224485em 0.6792446459em 7px hsla(279.3498151474, 100%, 50%, 0.9), 1.5198114119em 2.3760653579em 7px hsla(53.7695144007, 100%, 50%, 0.9), -0.3267518763em 0.5925278238em 7px hsla(291.6558977257, 100%, 50%, 0.9), 1.8939038638em 0.2017017204em 7px hsla(252.3705597849, 100%, 50%, 0.9), 0.1383030697em 0.2245063979em 7px hsla(153.2856445717, 100%, 50%, 0.9), 0.2002398079em 1.95506544em 7px hsla(272.5790478057, 100%, 50%, 0.9), 0.5786908744em 0.6829553747em 7px hsla(338.3802272998, 100%, 50%, 0.9), -0.070466152em 2.1755504091em 7px hsla(177.0535070747, 100%, 50%, 0.9), 0.5230427296em 0.7958521604em 7px hsla(39.9849191954, 100%, 50%, 0.9), 0.6085874462em 0.5377745998em 7px hsla(120.812244191, 100%, 50%, 0.9), 1.8219517925em 1.2587294661em 7px hsla(291.5938263168, 100%, 50%, 0.9), -0.4132883425em 1.2111561367em 7px hsla(30.2799297918, 100%, 50%, 0.9), 1.0284024559em 0.9675588313em 7px hsla(311.0309372525, 100%, 50%, 0.9), -0.4308366842em 0.0586447595em 7px hsla(240.8277155727, 100%, 50%, 0.9), -0.0531512609em 0.8307368713em 7px hsla(115.3685913018, 100%, 50%, 0.9), 2.2473733862em 0.9846680557em 7px hsla(120.1016703043, 100%, 50%, 0.9), 0.422754787em 2.194573996em 7px hsla(271.6846167557, 100%, 50%, 0.9), -0.4424232987em 2.1001685004em 7px hsla(239.8646929938, 100%, 50%, 0.9), 2.2452554514em -0.2689458159em 7px hsla(317.1785586372, 100%, 50%, 0.9), 2.217578084em 0.8564601396em 7px hsla(16.0021715147, 100%, 50%, 0.9), 2.4200281523em 1.4730023212em 7px hsla(231.5497381353, 100%, 50%, 0.9), 1.8401511171em 1.68809492em 7px hsla(301.6851569717, 100%, 50%, 0.9), 1.5189651555em -0.2497422328em 7px hsla(112.2700580379, 100%, 50%, 0.9), -0.316700578em 2.2201743095em 7px hsla(292.5979892177, 100%, 50%, 0.9), 0.6453157498em 0.0493463119em 7px hsla(43.3985417663, 100%, 50%, 0.9), 1.4391085803em 2.3238658766em 7px hsla(171.3134267723, 100%, 50%, 0.9), 0.8953344797em 1.3408163467em 7px hsla(39.0711569821, 100%, 50%, 0.9), 2.0571638452em 0.845840466em 7px hsla(113.3746134486, 100%, 50%, 0.9), 2.3525231423em 1.9294585315em 7px hsla(277.0409906489, 100%, 50%, 0.9), 2.3100105155em 0.1592455169em 7px hsla(29.2172282516, 100%, 50%, 0.9), 0.5572622289em 1.6225854101em 7px hsla(337.4818898743, 100%, 50%, 0.9), 1.3446394611em 1.1337488806em 7px hsla(316.6858849083, 100%, 50%, 0.9), 0.3836734759em -0.0209533534em 7px hsla(207.9808876634, 100%, 50%, 0.9), -0.0472901049em 1.1995617658em 7px hsla(240.9817648838, 100%, 50%, 0.9), 0.4953300115em 2.4675281083em 7px hsla(23.7486529896, 100%, 50%, 0.9), -0.3423197707em 2.4599456354em 7px hsla(31.2058885087, 100%, 50%, 0.9);
  z-index: -1;
  pointer-events: none;
  animation-duration: 41s;
  animation-delay: -19s;
}

@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}

/*# sourceMappingURL=output.css.map */
