@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
#glow {
  color: #fdec6e;
}
#glow:hover {
  color: #fdec6e;
  text-shadow: 0px 0px 30px #fdec6e;
}

html {
  font: 5vmin/1.3 Serif;
  overflow: auto;
  background: #123;
}

#background-static {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/galaxy2.jpg) no-repeat center center fixed;
  background-size: cover;
  z-index: -1;
}

body, head {
  display: block;
  font-size: 52px;
  color: white;
  background-color: transparent;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: auto;
}

.login-page {
  width: 360px;
  padding: 1% 0 0;
  margin: auto;
}

/* Styling for the form container */
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/* Styling for form input fields */
.form input {
  font-family: "Space Grotesk", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

/* Styling for form submit button */
.form button {
  font-family: "Space Grotesk", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #fdec6e;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

head::before, head::after,
body::before, body::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: ".";
  mix-blend-mode: screen;
  animation: 44s -27s move infinite ease-in-out alternate;
}

/* Hover, active, and focus styles for form button */
.form button:hover,
.form button:active,
.form button:focus {
  background: #fdec6e;
}

/* Styling for informational message */
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

/* Styling for links in the informational message */
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}

/* Styling for the register form, initially hidden */
.form .register-form {
  display: none;
}

/* Styling for container */
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

/* Clearfix for container */
.container:before,
.container:after {
  content: "";
  display: block;
  clear: both;
}

/* Styling for informational text within container */
.container .info {
  margin: 50px auto;
  text-align: center;
}

/* Styling for heading within container */
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}

/* Styling for spans within informational text */
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}

/* Styling for links within spans */
.container .info span a {
  color: #000000;
  text-decoration: none;
}

/* Styling for font awesome icons within spans */
.container .info span .fa {
  color: #EF3B3A;
}

body::before {
  text-shadow: 2.2176781107em 0.2999153459em 7px hsla(237.6154394055, 100%, 50%, 0.9), 0.2170588321em -0.1778285894em 7px hsla(214.3363842253, 100%, 50%, 0.9), 0.4994410887em 1.9928948045em 7px hsla(237.3808691502, 100%, 50%, 0.9), -0.4729291822em 1.1268567298em 7px hsla(308.9835401678, 100%, 50%, 0.9), 2.4903560927em 1.1786689772em 7px hsla(315.0975278044, 100%, 50%, 0.9), 0.9193867755em 0.1661225434em 7px hsla(19.6799596765, 100%, 50%, 0.9), 2.4306537424em 0.6406918486em 7px hsla(144.5953555798, 100%, 50%, 0.9), 1.883702326em -0.1127092065em 7px hsla(29.0921400018, 100%, 50%, 0.9), 1.8407316012em 2.0579215418em 7px hsla(128.02141902, 100%, 50%, 0.9), 0.1744331318em 0.098808641em 7px hsla(228.163489961, 100%, 50%, 0.9), 1.7465053255em 1.6125502574em 7px hsla(171.3447237693, 100%, 50%, 0.9), 0.8616880388em 0.2201123917em 7px hsla(57.7294368055, 100%, 50%, 0.9), 2.0623961em 2.2649212224em 7px hsla(41.1742761191, 100%, 50%, 0.9), 1.960918243em 0.7006113531em 7px hsla(174.3186006002, 100%, 50%, 0.9), 1.0438446825em 0.4156230852em 7px hsla(27.6771727158, 100%, 50%, 0.9), 2.4871173996em 2.355609937em 7px hsla(68.1707341733, 100%, 50%, 0.9), 0.5716024386em 1.610696389em 7px hsla(308.343624276, 100%, 50%, 0.9), 0.1807014942em 2.0776701793em 7px hsla(248.1415122416, 100%, 50%, 0.9), 0.3491995837em 0.3079434889em 7px hsla(357.618410756, 100%, 50%, 0.9), 0.5752907565em -0.0095500178em 7px hsla(94.5064197958, 100%, 50%, 0.9), 2.4641813164em 0.6253822587em 7px hsla(312.4359052158, 100%, 50%, 0.9), 0.7199690951em 0.9477082981em 7px hsla(121.8629380891, 100%, 50%, 0.9), 1.1327624262em -0.2310564065em 7px hsla(253.5137771244, 100%, 50%, 0.9), 1.6244161464em 1.0228772773em 7px hsla(161.7454124565, 100%, 50%, 0.9), -0.2437768329em 0.6557381213em 7px hsla(321.1922796873, 100%, 50%, 0.9), -0.1068097398em 2.4310648143em 7px hsla(351.6029318836, 100%, 50%, 0.9), -0.0274755392em -0.4744214483em 7px hsla(234.8242899874, 100%, 50%, 0.9), -0.3488680159em 1.2299551575em 7px hsla(338.1456799718, 100%, 50%, 0.9), 0.5529716828em -0.2428889027em 7px hsla(181.2395582192, 100%, 50%, 0.9), 0.1252467487em 2.0987817316em 7px hsla(183.2746732464, 100%, 50%, 0.9), 1.7185448em 1.9525339356em 7px hsla(96.5690156502, 100%, 50%, 0.9), 1.5108775773em 2.217349184em 7px hsla(118.0044131757, 100%, 50%, 0.9), 0.9084461203em -0.2501399835em 7px hsla(263.6813524154, 100%, 50%, 0.9), 2.2336925076em 1.7251713041em 7px hsla(44.2146189986, 100%, 50%, 0.9), -0.3583419269em -0.424293727em 7px hsla(17.4516974094, 100%, 50%, 0.9), -0.062856012em -0.1522150498em 7px hsla(91.8177427161, 100%, 50%, 0.9), 1.3746000869em 1.136519551em 7px hsla(246.6853264917, 100%, 50%, 0.9), 1.5169233803em 1.4380049642em 7px hsla(359.9636920298, 100%, 50%, 0.9), -0.3911730072em -0.4186318141em 7px hsla(135.6771799527, 100%, 50%, 0.9), 1.5272807327em 0.0218998939em 7px hsla(184.024816007, 100%, 50%, 0.9), 0.3440364241em 2.2570981257em 7px hsla(142.7577971859, 100%, 50%, 0.9);
  z-index: -1;
  pointer-events: none;
  animation-duration: 44s;
  animation-delay: -27s;
}

body::after {
  text-shadow: 1.0294772982em 2.4913433342em 7px hsla(334.6805718958, 100%, 50%, 0.9), 0.3235366339em -0.1455901709em 7px hsla(156.2956759754, 100%, 50%, 0.9), 1.3875862882em 2.1301953247em 7px hsla(356.8005210845, 100%, 50%, 0.9), 1.4542609682em -0.3592854708em 7px hsla(70.6593245441, 100%, 50%, 0.9), 1.1044547728em 0.1097499936em 7px hsla(324.1156634584, 100%, 50%, 0.9), 1.06277025em 0.650023581em 7px hsla(294.0281387033, 100%, 50%, 0.9), 0.0269430723em -0.358169456em 7px hsla(103.0973945493, 100%, 50%, 0.9), 1.1382563615em 1.5212502837em 7px hsla(67.6054898802, 100%, 50%, 0.9), 1.7758416064em -0.4279741216em 7px hsla(41.0231572979, 100%, 50%, 0.9), -0.4142622552em 2.2225776718em 7px hsla(254.5273172086, 100%, 50%, 0.9), 1.3748804675em 1.1948681115em 7px hsla(48.0899553169, 100%, 50%, 0.9), 0.2694202483em 2.2194625897em 7px hsla(313.3685502963, 100%, 50%, 0.9), 2.2915526083em 1.2204538465em 7px hsla(3.472344625, 100%, 50%, 0.9), 1.9069769501em 1.6415076763em 7px hsla(222.6962140511, 100%, 50%, 0.9), 0.7535133093em -0.4541971806em 7px hsla(204.2504726569, 100%, 50%, 0.9), 2.2979915683em 1.1209218358em 7px hsla(258.329550851, 100%, 50%, 0.9), 2.154051497em 0.5187344595em 7px hsla(337.3033771951, 100%, 50%, 0.9), 0.9152113524em -0.3355235107em 7px hsla(286.0366805476, 100%, 50%, 0.9), 1.3369002405em 0.6463840763em 7px hsla(266.7176307548, 100%, 50%, 0.9), 0.3595223126em 0.4273976327em 7px hsla(180.50560816, 100%, 50%, 0.9), 0.6799143569em -0.3480943776em 7px hsla(94.9896456768, 100%, 50%, 0.9), 0.959905837em 0.6356818623em 7px hsla(135.5815666304, 100%, 50%, 0.9), -0.2727989873em -0.0452935689em 7px hsla(68.5354622763, 100%, 50%, 0.9), 1.3939151949em 1.9956589721em 7px hsla(191.3184066239, 100%, 50%, 0.9), 1.9553343842em 1.0382822232em 7px hsla(44.8187385144, 100%, 50%, 0.9), 2.3789917508em 0.1650178993em 7px hsla(18.916086022, 100%, 50%, 0.9), -0.4805675013em 0.1746325045em 7px hsla(229.0181896456, 100%, 50%, 0.9), -0.2829601032em 1.1437428837em 7px hsla(204.9049355668, 100%, 50%, 0.9), 1.8840188402em 1.7951189033em 7px hsla(264.9977319503, 100%, 50%, 0.9), 0.3232866143em 0.1555833115em 7px hsla(208.3709004993, 100%, 50%, 0.9), 1.0520864087em 1.733704215em 7px hsla(303.7644575986, 100%, 50%, 0.9), -0.4441051301em 2.1704674649em 7px hsla(167.6584723785, 100%, 50%, 0.9), 1.9944265783em 1.369633163em 7px hsla(358.7485758722, 100%, 50%, 0.9), 1.6778939422em 0.0814261912em 7px hsla(224.9022857294, 100%, 50%, 0.9), 1.7880109883em 0.4319256814em 7px hsla(281.9955797165, 100%, 50%, 0.9), 0.9516873316em 0.4643535183em 7px hsla(30.252538276, 100%, 50%, 0.9), 0.0850543242em 1.9995730908em 7px hsla(300.4235969688, 100%, 50%, 0.9), 1.4663383912em 1.3131639634em 7px hsla(80.1250514721, 100%, 50%, 0.9), 1.5489545045em 2.1520793872em 7px hsla(47.2926847438, 100%, 50%, 0.9), 1.609616924em 1.2108373703em 7px hsla(46.7085894066, 100%, 50%, 0.9), 2.0333308255em 1.5088849028em 7px hsla(174.9483086256, 100%, 50%, 0.9);
  z-index: -1;
  pointer-events: none;
  animation-duration: 43s;
  animation-delay: -32s;
}

head::before {
  text-shadow: 2.3851968931em 1.6325447366em 7px hsla(145.7776771444, 100%, 50%, 0.9), 1.9785669192em 0.1832843624em 7px hsla(288.1233706804, 100%, 50%, 0.9), 2.3244429934em 2.2017533268em 7px hsla(22.1916144117, 100%, 50%, 0.9), -0.2115452487em 0.3328660656em 7px hsla(172.4490084987, 100%, 50%, 0.9), 1.6179003246em 1.8985353746em 7px hsla(102.3738323092, 100%, 50%, 0.9), 1.0487843756em 0.6250588925em 7px hsla(334.8046176913, 100%, 50%, 0.9), -0.4139988889em 0.6296396979em 7px hsla(310.3156070481, 100%, 50%, 0.9), 1.298472338em 0.0507567234em 7px hsla(176.572213663, 100%, 50%, 0.9), 1.4409115188em 1.7492198013em 7px hsla(60.3243480106, 100%, 50%, 0.9), 1.7412274475em 0.1065642774em 7px hsla(347.3844544535, 100%, 50%, 0.9), 0.0996514446em 1.0625306091em 7px hsla(24.9007553991, 100%, 50%, 0.9), 1.6531980532em 1.1297642623em 7px hsla(35.6814972582, 100%, 50%, 0.9), 2.1822460164em 2.253763589em 7px hsla(276.9578129486, 100%, 50%, 0.9), 2.1063071272em 0.3141220956em 7px hsla(322.285158331, 100%, 50%, 0.9), 2.3941376227em 2.1162462709em 7px hsla(317.1368743811, 100%, 50%, 0.9), 2.1011755064em 1.7983208789em 7px hsla(303.1529105145, 100%, 50%, 0.9), 1.2147142317em 2.1829484569em 7px hsla(176.1517401576, 100%, 50%, 0.9), -0.2960110183em 1.3080037698em 7px hsla(158.2728617093, 100%, 50%, 0.9), 2.0360583775em 2.1976793914em 7px hsla(46.4970641138, 100%, 50%, 0.9), 1.928285014em 2.485047602em 7px hsla(267.0780464916, 100%, 50%, 0.9), 1.9962523892em 1.9554728475em 7px hsla(113.4030387862, 100%, 50%, 0.9), 1.6876583931em 0.6015906465em 7px hsla(262.4756684585, 100%, 50%, 0.9), -0.0200962758em 2.0292146135em 7px hsla(266.9750802732, 100%, 50%, 0.9), -0.025129106em 0.0119234607em 7px hsla(67.5177755293, 100%, 50%, 0.9), 0.7019112668em 0.2574547839em 7px hsla(154.7897364412, 100%, 50%, 0.9), 1.7283429735em -0.2525709497em 7px hsla(220.5394743228, 100%, 50%, 0.9), 1.884558294em 1.3980512485em 7px hsla(290.3987205864, 100%, 50%, 0.9), 0.142585522em -0.313728821em 7px hsla(199.328800906, 100%, 50%, 0.9), -0.109147917em 1.3974923078em 7px hsla(155.1797361334, 100%, 50%, 0.9), 1.1702384668em 1.1060235787em 7px hsla(107.8090650618, 100%, 50%, 0.9), 2.1336610836em 1.2512683478em 7px hsla(341.4398658098, 100%, 50%, 0.9), 2.1685045418em 2.4074355048em 7px hsla(311.4669417857, 100%, 50%, 0.9), 1.9686804895em 1.8364199817em 7px hsla(268.1503773882, 100%, 50%, 0.9), -0.4005020463em 1.0183342275em 7px hsla(238.3314425747, 100%, 50%, 0.9), 2.4123167327em 0.2569970136em 7px hsla(84.3358404012, 100%, 50%, 0.9), 0.8923804951em 0.9060258495em 7px hsla(230.3345333396, 100%, 50%, 0.9), 1.2543410978em 0.6999517606em 7px hsla(60.5465060444, 100%, 50%, 0.9), 0.0911754953em -0.2212827em 7px hsla(306.3638871798, 100%, 50%, 0.9), 1.0872609448em 1.306616104em 7px hsla(15.1526395337, 100%, 50%, 0.9), 0.9993773463em 2.0181420946em 7px hsla(153.2173822289, 100%, 50%, 0.9), 1.9809927032em 2.2400068062em 7px hsla(38.33512385, 100%, 50%, 0.9);
  z-index: -1;
  pointer-events: none;
  animation-duration: 42s;
  animation-delay: -23s;
}

head::after {
  text-shadow: 0.3357711912em 1.9243771558em 7px hsla(77.1316944569, 100%, 50%, 0.9), 1.4939149573em 2.0534494888em 7px hsla(57.9531636447, 100%, 50%, 0.9), -0.3943267207em -0.4199900084em 7px hsla(322.8560363558, 100%, 50%, 0.9), 0.7088721456em 0.1019830804em 7px hsla(97.7450639326, 100%, 50%, 0.9), 2.0047228235em 0.951894732em 7px hsla(44.2854462987, 100%, 50%, 0.9), 0.3581928652em 0.3668138232em 7px hsla(62.2745064026, 100%, 50%, 0.9), 2.4593790526em 1.9540932202em 7px hsla(291.6964481592, 100%, 50%, 0.9), 0.4847520432em 2.0884029672em 7px hsla(286.5097158776, 100%, 50%, 0.9), 0.2427055206em 1.601647477em 7px hsla(5.853203704, 100%, 50%, 0.9), 2.0895431352em 0.9030727214em 7px hsla(135.4223639432, 100%, 50%, 0.9), 0.8720766495em -0.4484532831em 7px hsla(105.6541540642, 100%, 50%, 0.9), 1.5968655315em 0.3232474619em 7px hsla(10.9555557098, 100%, 50%, 0.9), -0.1304415343em 2.1053822423em 7px hsla(160.0235375875, 100%, 50%, 0.9), 1.9441742288em 1.4249352288em 7px hsla(175.9224860393, 100%, 50%, 0.9), 0.4908933237em 1.8364032266em 7px hsla(83.163613985, 100%, 50%, 0.9), 1.1180037722em 1.5140471835em 7px hsla(229.5721797445, 100%, 50%, 0.9), -0.157655328em 2.2372480667em 7px hsla(38.4436485097, 100%, 50%, 0.9), 2.4545941561em -0.1520216538em 7px hsla(147.2306386054, 100%, 50%, 0.9), 0.5011045194em 1.1834740748em 7px hsla(332.3231311742, 100%, 50%, 0.9), 2.1323719667em 1.6394535523em 7px hsla(338.4306042528, 100%, 50%, 0.9), 0.3686241081em 1.1286366661em 7px hsla(248.257517588, 100%, 50%, 0.9), 0.8897613169em -0.0031558548em 7px hsla(302.077225971, 100%, 50%, 0.9), 2.0907207006em 0.6362446852em 7px hsla(127.5835377414, 100%, 50%, 0.9), 0.8433250925em 1.3944191293em 7px hsla(143.9019602592, 100%, 50%, 0.9), -0.3774066676em 2.3676221118em 7px hsla(316.1848547826, 100%, 50%, 0.9), -0.0543298017em -0.06078581em 7px hsla(72.030752645, 100%, 50%, 0.9), 1.213187522em 1.8559066318em 7px hsla(355.7920925322, 100%, 50%, 0.9), 1.0409550846em 0.8299086304em 7px hsla(111.1745054541, 100%, 50%, 0.9), 2.1395643493em -0.1081165458em 7px hsla(295.6157429196, 100%, 50%, 0.9), 0.7337022787em -0.4905755281em 7px hsla(289.3372525023, 100%, 50%, 0.9), -0.2952423592em -0.4544024923em 7px hsla(276.1732795643, 100%, 50%, 0.9), -0.4512511142em 1.7455434201em 7px hsla(172.7013340083, 100%, 50%, 0.9), 1.414822006em 1.5311769689em 7px hsla(304.0724588643, 100%, 50%, 0.9), 1.5909892717em 1.4307365919em 7px hsla(88.6447833265, 100%, 50%, 0.9), 0.4628811319em 0.6517673946em 7px hsla(326.8487052712, 100%, 50%, 0.9), 0.8121283881em 0.5797045916em 7px hsla(157.3650896132, 100%, 50%, 0.9), -0.291961384em 2.4056093234em 7px hsla(199.5427217069, 100%, 50%, 0.9), 2.4222171949em 1.0304201704em 7px hsla(228.0071576149, 100%, 50%, 0.9), 2.3498817061em 0.8078934828em 7px hsla(220.8755782165, 100%, 50%, 0.9), 1.3487838869em 2.0657102533em 7px hsla(128.2358597984, 100%, 50%, 0.9), 1.0173288594em 2.2068932905em 7px hsla(65.9915379578, 100%, 50%, 0.9);
  z-index: -1;
  pointer-events: none;
  animation-duration: 41s;
  animation-delay: -19s;
}

@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}

/*# sourceMappingURL=output_login.css.map */
