@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
html {
  font: 5vmin/1.3 Serif;
  overflow: auto;
  background: #123;
}

body, head {
  display: block;
  font-size: 52px;
  color: white;
  background-color: transparent;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: auto;
}

h3 {
  font-size: 0.8em;
  font-weight: 400;
  font-style: normal;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  text-align: center;
}

a {
  color: yellow;
}

a:hover {
  color: orange;
}

a:visited {
  color: yellow;
}

a:visited:hover {
  color: orange;
}

.thick-hr {
  height: 4px;
  background-color: yellow;
  border: none;
}

p {
  font-size: 0.6em;
  font-weight: 400;
  font-style: normal;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
}

.space-grotesk-main {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#background-static {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  height: 100%;
  background: url(../images/galaxy2.jpg) center center fixed;
  background-size: cover;
  z-index: -1;
}

#solar-systems-title {
  color: white;
  text-align: center;
}

#glow {
  color: #fdec6e;
}
#glow:hover {
  color: #fdec6e;
  text-shadow: 0px 0px 30px #fdec6e;
}

head::before, head::after,
body::before, body::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: ".";
  mix-blend-mode: screen;
  animation: 44s -27s move infinite ease-in-out alternate;
}

body::before {
  text-shadow: 1.9666669974em -0.4044458649em 7px hsla(224.6030877037, 100%, 50%, 0.9), 1.8950650784em 0.1366689431em 7px hsla(3.6287056958, 100%, 50%, 0.9), 0.3800869582em 1.8162797263em 7px hsla(89.1324961325, 100%, 50%, 0.9), -0.3380582457em -0.4047403709em 7px hsla(142.3314342913, 100%, 50%, 0.9), 0.6242947693em -0.1011562001em 7px hsla(321.7991894968, 100%, 50%, 0.9), 2.1431346489em 1.0775553637em 7px hsla(290.207404861, 100%, 50%, 0.9), 0.7578759691em 0.8745952178em 7px hsla(169.4767027269, 100%, 50%, 0.9), 1.2341087882em 0.0711091251em 7px hsla(19.9895243525, 100%, 50%, 0.9), 2.467628514em 1.899705976em 7px hsla(322.6079391156, 100%, 50%, 0.9), 2.0387344152em 1.6369418663em 7px hsla(277.374859043, 100%, 50%, 0.9), 1.158271788em 0.6613582982em 7px hsla(33.1297862849, 100%, 50%, 0.9), 0.9824100885em 0.860926789em 7px hsla(22.228346804, 100%, 50%, 0.9), 1.9864401888em 1.1188069532em 7px hsla(123.9264260163, 100%, 50%, 0.9), 1.2601203679em 0.5231027361em 7px hsla(334.8021777475, 100%, 50%, 0.9), 2.4651818038em 1.1027813943em 7px hsla(157.2417827447, 100%, 50%, 0.9), 1.2033302052em 1.7388646326em 7px hsla(197.188395072, 100%, 50%, 0.9), 1.2319630249em 1.2031560745em 7px hsla(221.5141420038, 100%, 50%, 0.9), 0.5645495663em -0.3877038451em 7px hsla(225.7498148475, 100%, 50%, 0.9), 1.8961826787em 0.1672221405em 7px hsla(340.9547292805, 100%, 50%, 0.9), 2.2779299574em 0.884642629em 7px hsla(109.8626732612, 100%, 50%, 0.9), 1.0839966821em 1.6137064063em 7px hsla(316.8176288195, 100%, 50%, 0.9), 1.2157121107em 0.6745829905em 7px hsla(309.959900305, 100%, 50%, 0.9), 0.0487905459em 1.3898062687em 7px hsla(134.1622416762, 100%, 50%, 0.9), 2.4504195534em 0.6305606731em 7px hsla(207.2257104503, 100%, 50%, 0.9), 1.1092168611em 1.093605739em 7px hsla(309.4608230836, 100%, 50%, 0.9), 1.3143107663em 0.0323385288em 7px hsla(179.4865514534, 100%, 50%, 0.9), 1.2764716521em 1.1903615483em 7px hsla(218.3061766851, 100%, 50%, 0.9), 1.3321993081em 2.4366894932em 7px hsla(1.5987427341, 100%, 50%, 0.9), 1.1403873343em 0.5979235797em 7px hsla(28.3826533992, 100%, 50%, 0.9), 2.0813131042em 0.7429365997em 7px hsla(87.5755204385, 100%, 50%, 0.9), 1.1311907313em 2.1340230708em 7px hsla(219.5530543938, 100%, 50%, 0.9), 1.2458033228em 0.9414593408em 7px hsla(188.1732880313, 100%, 50%, 0.9), 2.1215861311em 0.4320379802em 7px hsla(189.0503777729, 100%, 50%, 0.9), 1.9467722529em 0.4919720916em 7px hsla(267.4434139637, 100%, 50%, 0.9), 2.1118930118em 1.0471943237em 7px hsla(263.3124539379, 100%, 50%, 0.9), 1.7408820987em 0.3949245033em 7px hsla(136.5723569382, 100%, 50%, 0.9), 0.8156622756em 0.8487839879em 7px hsla(165.5488785738, 100%, 50%, 0.9), 0.3117817397em 1.7378111678em 7px hsla(196.1927506666, 100%, 50%, 0.9), 0.1484401256em -0.1855340069em 7px hsla(261.5356598861, 100%, 50%, 0.9), 1.2790234828em 1.0404830015em 7px hsla(333.7060679805, 100%, 50%, 0.9), 2.2962670931em 1.2972976936em 7px hsla(242.2423063133, 100%, 50%, 0.9);
  z-index: -1;
  pointer-events: none;
  animation-duration: 44s;
  animation-delay: -27s;
}

body::after {
  text-shadow: 1.4069540489em 1.3217307329em 7px hsla(356.0560699714, 100%, 50%, 0.9), 0.0274965623em 2.3179649565em 7px hsla(52.7126585002, 100%, 50%, 0.9), -0.3773179509em 2.2912822085em 7px hsla(59.5908224473, 100%, 50%, 0.9), 0.7812911249em 2.4941773611em 7px hsla(243.3226740054, 100%, 50%, 0.9), 1.31392495em 0.0970711781em 7px hsla(202.5388149956, 100%, 50%, 0.9), 1.7291627978em 2.1639709958em 7px hsla(355.728276643, 100%, 50%, 0.9), 1.5755214748em 0.8327529081em 7px hsla(237.7358756756, 100%, 50%, 0.9), 1.5022881437em 2.1217812995em 7px hsla(165.4313565603, 100%, 50%, 0.9), 1.9459426924em -0.35466695em 7px hsla(164.0368934767, 100%, 50%, 0.9), 0.9298638144em 2.3316245065em 7px hsla(326.9655012363, 100%, 50%, 0.9), 0.0972622053em 0.1641456674em 7px hsla(14.427194612, 100%, 50%, 0.9), 0.2665443842em 0.9188178287em 7px hsla(42.345606566, 100%, 50%, 0.9), 1.7821609904em 1.7483135659em 7px hsla(287.2876607373, 100%, 50%, 0.9), 1.6121898103em 0.7291591399em 7px hsla(214.4044705099, 100%, 50%, 0.9), 1.1994370393em 0.9544823618em 7px hsla(199.203774458, 100%, 50%, 0.9), -0.3160812882em 1.6740710375em 7px hsla(129.407998245, 100%, 50%, 0.9), 0.7812367205em 2.1119565736em 7px hsla(160.5727281865, 100%, 50%, 0.9), -0.2156380277em 1.0957941593em 7px hsla(38.5641807899, 100%, 50%, 0.9), -0.0854668541em 2.1602895938em 7px hsla(308.3279130608, 100%, 50%, 0.9), 1.5041188867em 1.3352735967em 7px hsla(205.9741536697, 100%, 50%, 0.9), -0.321297643em 1.5253074862em 7px hsla(236.5905352381, 100%, 50%, 0.9), 2.0191249206em 1.1710937996em 7px hsla(232.7422281621, 100%, 50%, 0.9), 1.5925127029em 0.6345981842em 7px hsla(218.5167483085, 100%, 50%, 0.9), 1.5125019476em 0.5831390946em 7px hsla(292.7328653609, 100%, 50%, 0.9), -0.2873681955em 2.3673290778em 7px hsla(36.650003805, 100%, 50%, 0.9), 1.8680254733em 2.1107478349em 7px hsla(312.6217943294, 100%, 50%, 0.9), 2.1589587545em 0.2686914661em 7px hsla(256.1772716053, 100%, 50%, 0.9), 0.7193295803em 2.3401557829em 7px hsla(308.8750043807, 100%, 50%, 0.9), 2.1421285093em -0.4584460649em 7px hsla(320.1178266911, 100%, 50%, 0.9), 1.8013393194em 1.170083044em 7px hsla(92.1279163364, 100%, 50%, 0.9), 0.6623823664em -0.0183120803em 7px hsla(188.278018498, 100%, 50%, 0.9), 0.6608564183em 2.1428248986em 7px hsla(241.8851787394, 100%, 50%, 0.9), -0.3516812606em 1.3402683404em 7px hsla(110.3790324697, 100%, 50%, 0.9), 2.1182269027em 0.4200191045em 7px hsla(294.6132910978, 100%, 50%, 0.9), 0.592191133em 0.8386168459em 7px hsla(132.2104786614, 100%, 50%, 0.9), 0.7310621513em -0.1201219232em 7px hsla(210.4173172079, 100%, 50%, 0.9), -0.4202734115em 1.2673400721em 7px hsla(177.5334375955, 100%, 50%, 0.9), 1.4982375834em 2.0103083885em 7px hsla(275.5467973904, 100%, 50%, 0.9), 1.5873314103em 1.8051750809em 7px hsla(100.9768521146, 100%, 50%, 0.9), 0.6533330247em 2.2435310405em 7px hsla(160.3264894733, 100%, 50%, 0.9), 1.5524196204em -0.3394998975em 7px hsla(333.2442701178, 100%, 50%, 0.9);
  z-index: -1;
  pointer-events: none;
  animation-duration: 43s;
  animation-delay: -32s;
}

head::before {
  text-shadow: -0.115755547em -0.470261809em 7px hsla(208.0613005037, 100%, 50%, 0.9), -0.064424382em -0.072270427em 7px hsla(222.6584367275, 100%, 50%, 0.9), 0.7622707434em 0.1163611731em 7px hsla(214.3139410308, 100%, 50%, 0.9), 0.52544319em 0.573492496em 7px hsla(208.3277146931, 100%, 50%, 0.9), 1.6728680602em -0.1935157002em 7px hsla(114.9172474925, 100%, 50%, 0.9), 0.2487556177em 2.0731867707em 7px hsla(7.3725198958, 100%, 50%, 0.9), -0.3919577748em 2.1090683304em 7px hsla(36.7790853164, 100%, 50%, 0.9), 0.6570511994em 0.2755794153em 7px hsla(284.6534407654, 100%, 50%, 0.9), 0.5998604898em -0.0642173179em 7px hsla(333.837372103, 100%, 50%, 0.9), 1.229654798em 0.5806266555em 7px hsla(97.7197641401, 100%, 50%, 0.9), 0.5564893234em 0.9897776998em 7px hsla(273.2329804013, 100%, 50%, 0.9), -0.078910487em -0.2166450114em 7px hsla(212.7015212285, 100%, 50%, 0.9), 2.1529895399em 0.8420461523em 7px hsla(299.4680471092, 100%, 50%, 0.9), 0.614557257em 0.3021874944em 7px hsla(354.3627638581, 100%, 50%, 0.9), 0.0919780317em 2.1458182904em 7px hsla(105.0610371206, 100%, 50%, 0.9), 0.6637324508em 0.9494873243em 7px hsla(107.2780321997, 100%, 50%, 0.9), 2.1579646466em 0.5064334806em 7px hsla(144.7891539338, 100%, 50%, 0.9), 0.1556384632em 2.1517175556em 7px hsla(20.5209098053, 100%, 50%, 0.9), 1.3354157586em 0.6543061517em 7px hsla(350.9259808841, 100%, 50%, 0.9), 1.6702200653em 1.8908018648em 7px hsla(60.512968601, 100%, 50%, 0.9), 0.4181078654em 1.1587881719em 7px hsla(233.1911830283, 100%, 50%, 0.9), 1.9325761457em 0.4212261953em 7px hsla(224.9863151953, 100%, 50%, 0.9), 0.4963346185em 0.0822925502em 7px hsla(353.5737544056, 100%, 50%, 0.9), 0.1278139343em 0.8282423313em 7px hsla(307.7569463663, 100%, 50%, 0.9), 1.5769346133em 2.1532041564em 7px hsla(293.6292106022, 100%, 50%, 0.9), 2.427409337em 2.1923337459em 7px hsla(268.4469638627, 100%, 50%, 0.9), 0.1934527314em 2.2929221703em 7px hsla(185.4709055175, 100%, 50%, 0.9), 0.7452555777em 1.4695938294em 7px hsla(106.560153185, 100%, 50%, 0.9), 0.9479449732em 0.8621670964em 7px hsla(158.1940054556, 100%, 50%, 0.9), -0.4886896544em 0.3321661533em 7px hsla(94.8521383243, 100%, 50%, 0.9), 1.5189336504em 0.563178912em 7px hsla(102.1467909381, 100%, 50%, 0.9), 0.314012292em 1.0190063291em 7px hsla(216.6961113826, 100%, 50%, 0.9), 1.5578539504em 0.7699577872em 7px hsla(265.9397147152, 100%, 50%, 0.9), 1.3749908117em 2.2135868446em 7px hsla(43.8934022462, 100%, 50%, 0.9), 2.2066611475em 0.5103894546em 7px hsla(187.9570716738, 100%, 50%, 0.9), 1.3396800674em 0.5690753196em 7px hsla(172.3072416953, 100%, 50%, 0.9), 0.9809239058em 2.2357809288em 7px hsla(294.5716642009, 100%, 50%, 0.9), -0.3069867523em 0.3473912011em 7px hsla(4.1173133566, 100%, 50%, 0.9), 0.0707763947em 1.1933781991em 7px hsla(33.942377434, 100%, 50%, 0.9), 1.7873228652em 1.0429294156em 7px hsla(88.8676571371, 100%, 50%, 0.9), 2.1420232178em 1.8060506953em 7px hsla(223.1809786621, 100%, 50%, 0.9);
  z-index: -1;
  pointer-events: none;
  animation-duration: 42s;
  animation-delay: -23s;
}

head::after {
  text-shadow: 0.9756909212em -0.0778888242em 7px hsla(176.6566433045, 100%, 50%, 0.9), 1.6223060812em 0.4796366474em 7px hsla(29.1181016699, 100%, 50%, 0.9), -0.2584100985em 2.3025218012em 7px hsla(253.7476291904, 100%, 50%, 0.9), -0.2786586447em 0.7328147212em 7px hsla(158.4796733865, 100%, 50%, 0.9), 1.1266222866em 1.1541452883em 7px hsla(8.5953000495, 100%, 50%, 0.9), 2.0972342509em 0.6046618903em 7px hsla(79.1614608638, 100%, 50%, 0.9), 2.0113861639em 2.4213265506em 7px hsla(29.6885223071, 100%, 50%, 0.9), 1.9790824717em 0.9026875586em 7px hsla(200.6026768566, 100%, 50%, 0.9), 0.6776752287em -0.0935080827em 7px hsla(103.6367394493, 100%, 50%, 0.9), 2.4991304571em -0.0146361749em 7px hsla(125.2935173475, 100%, 50%, 0.9), 1.870747588em 1.90645839em 7px hsla(59.8918037415, 100%, 50%, 0.9), -0.2608993226em 1.6532639991em 7px hsla(148.25194896, 100%, 50%, 0.9), -0.1619788082em -0.3574078768em 7px hsla(212.4435509538, 100%, 50%, 0.9), 1.6733536007em 2.4267677697em 7px hsla(334.9911123999, 100%, 50%, 0.9), -0.4811508342em 2.1342772461em 7px hsla(212.6582964076, 100%, 50%, 0.9), 0.8462572169em 1.2670973955em 7px hsla(232.6948180035, 100%, 50%, 0.9), 2.4656540658em 0.2689986592em 7px hsla(140.0074426653, 100%, 50%, 0.9), 0.4186835612em 2.0321440557em 7px hsla(68.3351605834, 100%, 50%, 0.9), 0.9180501348em 1.6290802903em 7px hsla(214.9643467373, 100%, 50%, 0.9), 1.0744429834em 0.2018447445em 7px hsla(117.1347255752, 100%, 50%, 0.9), 2.449645844em 0.4553495555em 7px hsla(73.2048490643, 100%, 50%, 0.9), 2.2083113825em 2.0259807174em 7px hsla(280.7905039393, 100%, 50%, 0.9), 0.2117850212em 1.3273887797em 7px hsla(305.5741807646, 100%, 50%, 0.9), 0.6599345659em -0.3953696368em 7px hsla(324.7693584122, 100%, 50%, 0.9), 1.5391183795em -0.0918953128em 7px hsla(242.0379550627, 100%, 50%, 0.9), 0.3061900577em -0.4474537643em 7px hsla(327.1466155478, 100%, 50%, 0.9), 0.8060789756em 0.0896710309em 7px hsla(136.475225047, 100%, 50%, 0.9), 0.8613681152em 2.0675005217em 7px hsla(99.5283185283, 100%, 50%, 0.9), 1.9952001375em 0.6461669989em 7px hsla(7.3964033161, 100%, 50%, 0.9), 2.0998797622em 1.2339162688em 7px hsla(24.1653029446, 100%, 50%, 0.9), 2.0493539655em 0.645090697em 7px hsla(126.0288855198, 100%, 50%, 0.9), -0.1189660681em -0.2593427558em 7px hsla(110.4899516585, 100%, 50%, 0.9), 0.4714149362em 1.4561993106em 7px hsla(26.2253909589, 100%, 50%, 0.9), 1.6916827177em 0.165380085em 7px hsla(275.1926816246, 100%, 50%, 0.9), 0.1215328479em 2.4511051365em 7px hsla(335.0901372206, 100%, 50%, 0.9), 0.2574945687em 0.8032970752em 7px hsla(39.1714612916, 100%, 50%, 0.9), 1.476245115em 1.4453282656em 7px hsla(221.4712247778, 100%, 50%, 0.9), 1.1440123495em 1.3064929998em 7px hsla(198.6990139673, 100%, 50%, 0.9), -0.2802823701em 2.4855669903em 7px hsla(141.0213889517, 100%, 50%, 0.9), -0.3152617514em 1.0353343159em 7px hsla(90.5133447337, 100%, 50%, 0.9), 0.7894765176em 2.1391430414em 7px hsla(124.8177270591, 100%, 50%, 0.9);
  z-index: -1;
  pointer-events: none;
  animation-duration: 41s;
  animation-delay: -19s;
}

@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}

/*# sourceMappingURL=output.css.map */
