@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
html {
  font: 5vmin/1.3 Serif;
  overflow: auto;
  background: #123;
}

#background-static {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/galaxy2.jpg) no-repeat center center fixed;
  background-size: cover;
  z-index: -1;
}

body, head {
  display: block;
  font-size: 52px;
  color: white;
  background-color: transparent;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: auto;
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

/* Styling for the form container */
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/* Styling for form input fields */
.form input {
  font-family: "Space Grotesk", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

/* Styling for form submit button */
.form button {
  font-family: "Space Grotesk", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #fdec6e;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

head::before, head::after,
body::before, body::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: ".";
  mix-blend-mode: screen;
  animation: 44s -27s move infinite ease-in-out alternate;
}

/* Hover, active, and focus styles for form button */
.form button:hover,
.form button:active,
.form button:focus {
  background: #fdec6e;
}

/* Styling for informational message */
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

/* Styling for links in the informational message */
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}

/* Styling for the register form, initially hidden */
.form .register-form {
  display: none;
}

/* Styling for container */
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

/* Clearfix for container */
.container:before,
.container:after {
  content: "";
  display: block;
  clear: both;
}

/* Styling for informational text within container */
.container .info {
  margin: 50px auto;
  text-align: center;
}

/* Styling for heading within container */
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}

/* Styling for spans within informational text */
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}

/* Styling for links within spans */
.container .info span a {
  color: #000000;
  text-decoration: none;
}

/* Styling for font awesome icons within spans */
.container .info span .fa {
  color: #EF3B3A;
}

body::before {
  text-shadow: 0.2570412784em 1.3479136915em 7px hsla(314.9962239255, 100%, 50%, 0.9), 0.2561694423em 1.6030439754em 7px hsla(106.1062883725, 100%, 50%, 0.9), 0.8297074569em 0.4918227549em 7px hsla(115.0336555552, 100%, 50%, 0.9), 0.6943030514em 1.1319116644em 7px hsla(124.7355384931, 100%, 50%, 0.9), 0.8997177992em 1.3975700934em 7px hsla(271.0276116315, 100%, 50%, 0.9), -0.1449411524em 2.311849901em 7px hsla(138.3366928058, 100%, 50%, 0.9), 1.2591514974em 1.1552457122em 7px hsla(82.9264411457, 100%, 50%, 0.9), 0.2233458308em 0.8085891282em 7px hsla(332.4204001193, 100%, 50%, 0.9), 1.567879153em 1.44439911em 7px hsla(126.0086043942, 100%, 50%, 0.9), 1.4079326522em -0.2983597819em 7px hsla(135.0069878215, 100%, 50%, 0.9), 1.924168974em 2.2211715974em 7px hsla(295.1898893538, 100%, 50%, 0.9), 0.1444912168em 0.9060982106em 7px hsla(154.5100954871, 100%, 50%, 0.9), 0.65215521em 1.6408586704em 7px hsla(45.8759431437, 100%, 50%, 0.9), 0.3509075176em 0.0783981141em 7px hsla(53.6217945648, 100%, 50%, 0.9), 2.2183104538em 0.3400161953em 7px hsla(114.2958330005, 100%, 50%, 0.9), 0.7858880097em 2.3774916364em 7px hsla(354.04525525, 100%, 50%, 0.9), 2.2654336324em 2.0000729935em 7px hsla(240.3580103534, 100%, 50%, 0.9), 0.2282595359em 2.0897404964em 7px hsla(331.9360710205, 100%, 50%, 0.9), -0.4142446933em 1.3469642868em 7px hsla(135.2486935659, 100%, 50%, 0.9), 1.5586910203em 1.7641899791em 7px hsla(28.1066103386, 100%, 50%, 0.9), 0.3714885459em 0.8569321033em 7px hsla(142.5512278657, 100%, 50%, 0.9), 1.5093088418em 1.1551930314em 7px hsla(241.3504331722, 100%, 50%, 0.9), -0.1387639451em -0.1809459874em 7px hsla(9.9215560041, 100%, 50%, 0.9), 2.1458321781em -0.4231733527em 7px hsla(295.5151122969, 100%, 50%, 0.9), 0.0086848732em 1.062911207em 7px hsla(355.9098812223, 100%, 50%, 0.9), 2.2410132536em 0.6805987735em 7px hsla(334.4634551751, 100%, 50%, 0.9), 0.1872515806em -0.2494821221em 7px hsla(134.594940917, 100%, 50%, 0.9), 0.5525481967em 0.1919953489em 7px hsla(114.0031186151, 100%, 50%, 0.9), 0.5673872917em 0.6127459997em 7px hsla(16.8901078591, 100%, 50%, 0.9), 0.2460823395em 2.091644382em 7px hsla(234.6711130415, 100%, 50%, 0.9), 2.3598308188em -0.3190766457em 7px hsla(84.9258089073, 100%, 50%, 0.9), 1.8591165464em 1.5459369511em 7px hsla(337.0540037044, 100%, 50%, 0.9), 1.9004485206em 0.104811692em 7px hsla(42.9625031355, 100%, 50%, 0.9), -0.2556517509em 0.7698129649em 7px hsla(307.3794207495, 100%, 50%, 0.9), 0.961612865em 1.3845683434em 7px hsla(211.9630176091, 100%, 50%, 0.9), 1.3462015407em 0.2810207441em 7px hsla(29.8852496951, 100%, 50%, 0.9), 1.3928034171em 0.1265921021em 7px hsla(195.5778461586, 100%, 50%, 0.9), 1.9940600694em 0.1420909442em 7px hsla(59.612365, 100%, 50%, 0.9), 0.4738336723em -0.1879727637em 7px hsla(99.358723314, 100%, 50%, 0.9), 2.4808649901em 0.7653567162em 7px hsla(116.1989068843, 100%, 50%, 0.9), -0.4252095531em -0.0224031862em 7px hsla(243.1497363104, 100%, 50%, 0.9);
  z-index: -1;
  pointer-events: none;
  animation-duration: 44s;
  animation-delay: -27s;
}

body::after {
  text-shadow: 1.4726761562em 0.9523990259em 7px hsla(331.9430314931, 100%, 50%, 0.9), 0.0061354675em 1.3748556734em 7px hsla(116.4739994537, 100%, 50%, 0.9), -0.425786211em 0.2275103627em 7px hsla(75.2864765388, 100%, 50%, 0.9), 0.1508531218em 2.2959757772em 7px hsla(151.9306915592, 100%, 50%, 0.9), 2.3827625989em 0.8991242404em 7px hsla(109.1269315613, 100%, 50%, 0.9), 2.382816005em -0.4039773815em 7px hsla(271.8468295493, 100%, 50%, 0.9), 2.1255465132em 0.8106568957em 7px hsla(150.4776718428, 100%, 50%, 0.9), 1.5525048989em 0.4966468455em 7px hsla(151.6915184575, 100%, 50%, 0.9), 1.7135285766em 1.2021932395em 7px hsla(64.9494987712, 100%, 50%, 0.9), 1.8552961828em 1.7401192253em 7px hsla(220.8483231365, 100%, 50%, 0.9), 1.1883753644em -0.4759777574em 7px hsla(338.3810256561, 100%, 50%, 0.9), 0.9956693236em 2.3897460013em 7px hsla(262.915972802, 100%, 50%, 0.9), 1.9812105743em 0.6560589242em 7px hsla(154.5941961664, 100%, 50%, 0.9), 2.3093567653em 1.7236532861em 7px hsla(280.5517066616, 100%, 50%, 0.9), 1.5600813034em 0.5883135338em 7px hsla(185.3019092855, 100%, 50%, 0.9), 0.2202335183em 0.2100209624em 7px hsla(93.0694026172, 100%, 50%, 0.9), 0.5413094103em 0.0281495637em 7px hsla(268.6002212977, 100%, 50%, 0.9), 1.9587149376em 1.8740008981em 7px hsla(316.7596568723, 100%, 50%, 0.9), 0.3227051839em 0.0060357624em 7px hsla(26.2649416449, 100%, 50%, 0.9), 1.8099123192em 0.0780993349em 7px hsla(282.7708013404, 100%, 50%, 0.9), 1.1824404483em -0.0798471942em 7px hsla(212.8352693401, 100%, 50%, 0.9), 1.7771362534em 0.4670125352em 7px hsla(73.5103215489, 100%, 50%, 0.9), 1.2154614767em 1.0504395749em 7px hsla(61.4648066763, 100%, 50%, 0.9), 1.9328545486em 0.9772869117em 7px hsla(33.0102532787, 100%, 50%, 0.9), 1.5419130725em 0.1903525046em 7px hsla(294.8170969085, 100%, 50%, 0.9), 1.2679149475em 2.2136869294em 7px hsla(63.4831392709, 100%, 50%, 0.9), -0.194066233em 1.6584560485em 7px hsla(233.9652736233, 100%, 50%, 0.9), 1.7099434027em 0.2977974548em 7px hsla(224.2038948727, 100%, 50%, 0.9), 2.3028738038em 1.067454681em 7px hsla(336.7458710528, 100%, 50%, 0.9), 1.215117087em 0.2785995892em 7px hsla(68.5548110361, 100%, 50%, 0.9), -0.4769446431em 0.2170800139em 7px hsla(111.7385724421, 100%, 50%, 0.9), 1.3406104809em 1.0152704685em 7px hsla(99.9705372305, 100%, 50%, 0.9), 0.0677345854em 1.2757596536em 7px hsla(358.513942387, 100%, 50%, 0.9), 0.0789717475em 1.8341444853em 7px hsla(111.8771149218, 100%, 50%, 0.9), -0.3811386192em 0.5293116828em 7px hsla(348.8802329657, 100%, 50%, 0.9), 1.3805707913em 1.7323685522em 7px hsla(279.4567328451, 100%, 50%, 0.9), 2.0407953115em 2.1244924389em 7px hsla(169.3797611082, 100%, 50%, 0.9), 0.587589615em 2.0662195658em 7px hsla(221.8228529359, 100%, 50%, 0.9), 1.5489440843em 1.7582976649em 7px hsla(166.6412729019, 100%, 50%, 0.9), 0.5558719358em 0.8166511163em 7px hsla(136.6110117471, 100%, 50%, 0.9), 1.7792370883em 1.5344119278em 7px hsla(92.9794483969, 100%, 50%, 0.9);
  z-index: -1;
  pointer-events: none;
  animation-duration: 43s;
  animation-delay: -32s;
}

head::before {
  text-shadow: 0.5153347568em 2.0411751184em 7px hsla(32.6025552293, 100%, 50%, 0.9), 1.7174295599em 1.4799895327em 7px hsla(309.080764023, 100%, 50%, 0.9), 0.6944998845em -0.4083586643em 7px hsla(141.408549477, 100%, 50%, 0.9), 0.6886717168em -0.3631408071em 7px hsla(175.1436597956, 100%, 50%, 0.9), -0.2062747131em 0.7748664748em 7px hsla(272.815148656, 100%, 50%, 0.9), 1.2947694845em 0.5775059473em 7px hsla(302.6287973879, 100%, 50%, 0.9), 2.1222950188em -0.0742117735em 7px hsla(118.689709598, 100%, 50%, 0.9), -0.2788309861em 1.3099753365em 7px hsla(339.2568458279, 100%, 50%, 0.9), 0.9040216606em -0.3139700165em 7px hsla(335.36554474, 100%, 50%, 0.9), 1.9031860261em 0.0695295612em 7px hsla(141.0329790379, 100%, 50%, 0.9), 1.1511728208em 0.6174103207em 7px hsla(2.3047179564, 100%, 50%, 0.9), -0.4427407913em 1.7165874435em 7px hsla(208.4688883608, 100%, 50%, 0.9), 1.8793471633em -0.4785829649em 7px hsla(359.5308155, 100%, 50%, 0.9), 1.0403670627em 0.3432976834em 7px hsla(93.2416331226, 100%, 50%, 0.9), 0.9259783571em 1.0344552003em 7px hsla(238.1825775294, 100%, 50%, 0.9), 1.4709453036em 0.0190901196em 7px hsla(265.691351833, 100%, 50%, 0.9), 0.7826670378em 0.1693040997em 7px hsla(169.9808195388, 100%, 50%, 0.9), 1.0856110249em 1.9534019888em 7px hsla(187.5585004244, 100%, 50%, 0.9), 1.2775888793em -0.4310099757em 7px hsla(232.1208235875, 100%, 50%, 0.9), 1.3282270091em 1.5094293017em 7px hsla(201.3139795308, 100%, 50%, 0.9), 1.2120664282em 1.0278247438em 7px hsla(70.2916487974, 100%, 50%, 0.9), 0.6339581581em 0.1802959748em 7px hsla(196.5293948642, 100%, 50%, 0.9), -0.0649333304em 0.4772911037em 7px hsla(225.1898075946, 100%, 50%, 0.9), 0.6540953758em 1.7225369067em 7px hsla(193.8677002269, 100%, 50%, 0.9), 0.1124556068em 1.6703273123em 7px hsla(197.0224144447, 100%, 50%, 0.9), 0.8583551442em 1.948215312em 7px hsla(36.5491417599, 100%, 50%, 0.9), 0.5141903008em 0.3586459246em 7px hsla(188.697549867, 100%, 50%, 0.9), 1.0856230075em 0.4314772982em 7px hsla(81.7372918801, 100%, 50%, 0.9), 0.3695643833em 1.3272602275em 7px hsla(76.0656411591, 100%, 50%, 0.9), 1.0625813576em 1.0010522129em 7px hsla(34.7276165605, 100%, 50%, 0.9), 0.9664927351em 1.43460396em 7px hsla(2.5266774329, 100%, 50%, 0.9), 1.8979743987em 2.1932186457em 7px hsla(228.8408609126, 100%, 50%, 0.9), 0.8911188345em -0.1163450637em 7px hsla(290.2537935211, 100%, 50%, 0.9), -0.0591933272em 1.768192589em 7px hsla(44.1877834384, 100%, 50%, 0.9), 1.4401116903em 1.4625544962em 7px hsla(186.4314447626, 100%, 50%, 0.9), 1.4563172531em 1.415988268em 7px hsla(32.1369012818, 100%, 50%, 0.9), 1.9642260334em 0.9793826565em 7px hsla(262.6476182925, 100%, 50%, 0.9), 1.3285439065em -0.1703342568em 7px hsla(201.8506934617, 100%, 50%, 0.9), 1.017550614em 0.5375701205em 7px hsla(140.8157046993, 100%, 50%, 0.9), 1.5624358328em 0.619538872em 7px hsla(197.0800703563, 100%, 50%, 0.9), -0.4532931517em 1.8805764685em 7px hsla(204.351039637, 100%, 50%, 0.9);
  z-index: -1;
  pointer-events: none;
  animation-duration: 42s;
  animation-delay: -23s;
}

head::after {
  text-shadow: 0.8672006899em 1.952906168em 7px hsla(3.3736462237, 100%, 50%, 0.9), 2.0579365624em 0.080491154em 7px hsla(26.4684236432, 100%, 50%, 0.9), 1.1450777118em 0.9499266963em 7px hsla(311.4031863209, 100%, 50%, 0.9), 2.4993270707em 0.2004359085em 7px hsla(215.9959044135, 100%, 50%, 0.9), 2.160794707em -0.2610836863em 7px hsla(179.5246925768, 100%, 50%, 0.9), 1.027339904em -0.4371783836em 7px hsla(35.0251275098, 100%, 50%, 0.9), 2.2868798753em 0.7831110697em 7px hsla(356.3066836729, 100%, 50%, 0.9), 0.2071367527em -0.4014145899em 7px hsla(228.9148488394, 100%, 50%, 0.9), 2.101496148em -0.363382415em 7px hsla(39.3923717181, 100%, 50%, 0.9), -0.1168159669em -0.1740307258em 7px hsla(8.0669794572, 100%, 50%, 0.9), 2.0319419294em 2.2644513412em 7px hsla(304.2625345538, 100%, 50%, 0.9), 1.1095434654em 0.4426770231em 7px hsla(294.5399393738, 100%, 50%, 0.9), -0.4998249398em 0.4107571646em 7px hsla(95.0550866046, 100%, 50%, 0.9), 0.9847276592em -0.4111147298em 7px hsla(163.6497281721, 100%, 50%, 0.9), -0.0552846181em 1.2631199768em 7px hsla(170.5272442261, 100%, 50%, 0.9), 0.8058465128em 0.2965736396em 7px hsla(238.2175193263, 100%, 50%, 0.9), -0.3413391461em 1.9968563719em 7px hsla(294.5248763489, 100%, 50%, 0.9), 1.2888415858em 0.4940753389em 7px hsla(138.2988458806, 100%, 50%, 0.9), -0.4177197718em 1.5995265857em 7px hsla(178.4745651674, 100%, 50%, 0.9), 1.5375355633em 0.4212045488em 7px hsla(108.0358465782, 100%, 50%, 0.9), 2.2048196408em 0.9225148533em 7px hsla(10.4984921165, 100%, 50%, 0.9), 0.9687676475em 0.3390311865em 7px hsla(228.8889710702, 100%, 50%, 0.9), 1.0090302456em 1.2494896827em 7px hsla(340.2058078258, 100%, 50%, 0.9), 1.1450227175em 0.4925082306em 7px hsla(359.7491234378, 100%, 50%, 0.9), 2.1529962844em 1.2289528208em 7px hsla(201.8395874999, 100%, 50%, 0.9), 0.4395006767em 0.0859875423em 7px hsla(16.5419088531, 100%, 50%, 0.9), 0.0031856567em 0.2924469896em 7px hsla(78.9440768154, 100%, 50%, 0.9), 0.1001751244em 2.3787884695em 7px hsla(302.0010308053, 100%, 50%, 0.9), 0.6625739043em 1.4448075518em 7px hsla(296.8988693672, 100%, 50%, 0.9), -0.3231696574em 0.1303981235em 7px hsla(53.6565876901, 100%, 50%, 0.9), 0.1143661097em 2.431776729em 7px hsla(356.4883748026, 100%, 50%, 0.9), 0.795696644em 0.0884343253em 7px hsla(192.4793027392, 100%, 50%, 0.9), 0.989614048em 0.5377147263em 7px hsla(6.146985335, 100%, 50%, 0.9), 0.296899711em 2.0860109138em 7px hsla(93.4614596085, 100%, 50%, 0.9), 1.5725293802em 2.1518628833em 7px hsla(242.4853418575, 100%, 50%, 0.9), -0.1964292492em 1.0924797763em 7px hsla(313.9950623293, 100%, 50%, 0.9), 0.5351012959em 1.443388153em 7px hsla(218.0492334632, 100%, 50%, 0.9), 0.4590947987em 0.5062184171em 7px hsla(199.9959986617, 100%, 50%, 0.9), 1.0605955256em 0.6023540492em 7px hsla(320.2342223484, 100%, 50%, 0.9), -0.0805276804em 1.5103311855em 7px hsla(279.1996897239, 100%, 50%, 0.9), 0.6359724001em -0.4563409157em 7px hsla(218.399747477, 100%, 50%, 0.9);
  z-index: -1;
  pointer-events: none;
  animation-duration: 41s;
  animation-delay: -19s;
}

@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}

/*# sourceMappingURL=output_login.css.map */
