@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
html {
  font: 5vmin/1.3 Serif;
  overflow: auto;
  background: #123;
}

body, head {
  display: block;
  font-size: 52px;
  color: white;
  background-color: transparent;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: auto;
}

h3 {
  font-size: 0.8em;
  font-weight: 400;
  font-style: normal;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  text-align: center;
}

p {
  font-size: 0.6em;
  font-weight: 400;
  font-style: normal;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
}

.space-grotesk-main {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#background-static {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/galaxy2.jpg) no-repeat center center fixed;
  background-size: cover;
  z-index: -1;
}

#solar-systems-title {
  color: white;
  text-align: center;
}

#glow {
  color: #fdec6e;
}
#glow:hover {
  color: #fdec6e;
  text-shadow: 0px 0px 30px #fdec6e;
}

head::before, head::after,
body::before, body::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: ".";
  mix-blend-mode: screen;
  animation: 44s -27s move infinite ease-in-out alternate;
}

body::before {
  text-shadow: 0.8376066366em 0.4502837068em 7px hsla(4.7170025802, 100%, 50%, 0.9), 1.8002862642em 1.7337030678em 7px hsla(36.4850973366, 100%, 50%, 0.9), -0.2489807503em 0.8783401749em 7px hsla(216.3810098639, 100%, 50%, 0.9), 0.8651534062em 1.5496297822em 7px hsla(96.168592401, 100%, 50%, 0.9), 0.8878205822em -0.1356365051em 7px hsla(226.538892006, 100%, 50%, 0.9), 1.6660057402em 1.6632228959em 7px hsla(38.8116549414, 100%, 50%, 0.9), -0.1027424891em 0.5916474117em 7px hsla(270.5059606123, 100%, 50%, 0.9), 0.9887985109em 0.2730456039em 7px hsla(34.8188988903, 100%, 50%, 0.9), 0.8610609207em 1.2045910325em 7px hsla(295.2626411966, 100%, 50%, 0.9), 2.2882866898em -0.2524263283em 7px hsla(252.3972542835, 100%, 50%, 0.9), 2.0335175373em 0.8072178431em 7px hsla(191.8652021588, 100%, 50%, 0.9), 0.1903225887em 0.94301693em 7px hsla(29.3270730528, 100%, 50%, 0.9), 2.1671580845em -0.4280624594em 7px hsla(291.066334346, 100%, 50%, 0.9), 1.690999429em -0.420068938em 7px hsla(264.6229648646, 100%, 50%, 0.9), 1.6139834131em 1.0181244152em 7px hsla(113.1096294812, 100%, 50%, 0.9), 0.0222822392em 0.3667022731em 7px hsla(177.0489304625, 100%, 50%, 0.9), 1.9380725233em 0.7362729673em 7px hsla(229.0901373407, 100%, 50%, 0.9), -0.4608083542em 0.0035237828em 7px hsla(285.6936214634, 100%, 50%, 0.9), 0.2028206058em 1.3008985801em 7px hsla(311.3860343591, 100%, 50%, 0.9), 1.2376372151em 2.4293565836em 7px hsla(225.783325261, 100%, 50%, 0.9), 0.8815612224em 0.6538572485em 7px hsla(343.3781957932, 100%, 50%, 0.9), 1.5455159743em 0.7881806669em 7px hsla(317.3627959423, 100%, 50%, 0.9), 0.5350912196em 0.1576860573em 7px hsla(151.2444039026, 100%, 50%, 0.9), 1.854790547em -0.1296185em 7px hsla(74.3019056622, 100%, 50%, 0.9), -0.3851009125em 1.4863487174em 7px hsla(247.7407578302, 100%, 50%, 0.9), -0.2489151776em 1.9868181145em 7px hsla(219.1234883452, 100%, 50%, 0.9), 2.1785228264em 1.7330741013em 7px hsla(144.664717368, 100%, 50%, 0.9), 2.1987415228em 2.422537974em 7px hsla(259.5452923614, 100%, 50%, 0.9), 1.2254868114em -0.4921743797em 7px hsla(38.3972848391, 100%, 50%, 0.9), 2.4192518782em 2.1751265611em 7px hsla(327.2619421219, 100%, 50%, 0.9), 0.3592847367em 1.184862559em 7px hsla(200.8974244179, 100%, 50%, 0.9), 0.0412809316em 0.9394635626em 7px hsla(87.8713738807, 100%, 50%, 0.9), 0.531333725em 0.9333711064em 7px hsla(244.0975239488, 100%, 50%, 0.9), -0.4370046296em 0.228111597em 7px hsla(171.6671814754, 100%, 50%, 0.9), 0.2738348333em 2.1297027513em 7px hsla(165.8258704042, 100%, 50%, 0.9), 1.6343328259em 0.7747157873em 7px hsla(129.1897132066, 100%, 50%, 0.9), 0.6012801233em 0.839646979em 7px hsla(163.7804185387, 100%, 50%, 0.9), 0.1257694484em 1.1678908382em 7px hsla(296.7927106096, 100%, 50%, 0.9), 2.1044451642em -0.1347664342em 7px hsla(123.0533804603, 100%, 50%, 0.9), 1.9887189674em 1.1458084802em 7px hsla(194.1526574685, 100%, 50%, 0.9), 0.5629205808em 2.0118590691em 7px hsla(251.5991553303, 100%, 50%, 0.9);
  z-index: -1;
  pointer-events: none;
  animation-duration: 44s;
  animation-delay: -27s;
}

body::after {
  text-shadow: -0.2337207961em 1.4068344651em 7px hsla(323.98833226, 100%, 50%, 0.9), 1.0049251682em 0.1522804447em 7px hsla(353.9103683778, 100%, 50%, 0.9), 1.2672389822em 2.4164418882em 7px hsla(298.6976077842, 100%, 50%, 0.9), 2.4853550752em 1.3707215931em 7px hsla(159.0037993352, 100%, 50%, 0.9), 0.9363646193em 2.0857749607em 7px hsla(285.5153743776, 100%, 50%, 0.9), 1.7274396407em 0.3716815405em 7px hsla(19.8068895478, 100%, 50%, 0.9), 1.7242926272em 0.1428116034em 7px hsla(133.7759182952, 100%, 50%, 0.9), 2.0399724337em 0.0846985744em 7px hsla(26.9745674375, 100%, 50%, 0.9), 0.2579430803em 1.2604006101em 7px hsla(25.2146435405, 100%, 50%, 0.9), 1.2738725178em 2.2056090985em 7px hsla(257.8352927815, 100%, 50%, 0.9), 0.9007829961em 1.2164826356em 7px hsla(17.4377022373, 100%, 50%, 0.9), 0.9219898832em -0.4055792728em 7px hsla(158.0028392579, 100%, 50%, 0.9), 1.3648472682em 0.0241847389em 7px hsla(7.0861264153, 100%, 50%, 0.9), 0.0915791184em 0.165279768em 7px hsla(296.7723019321, 100%, 50%, 0.9), 2.1512406011em 0.7548472948em 7px hsla(237.2610053072, 100%, 50%, 0.9), -0.3614092649em 1.1013453619em 7px hsla(346.220975508, 100%, 50%, 0.9), -0.479214848em 2.4311255411em 7px hsla(109.9524469151, 100%, 50%, 0.9), 2.2846777498em 0.6483601664em 7px hsla(298.3466296673, 100%, 50%, 0.9), 1.092080663em 1.9761540304em 7px hsla(273.0560269318, 100%, 50%, 0.9), 1.3224306855em 0.9898752513em 7px hsla(51.0121716583, 100%, 50%, 0.9), -0.1111800154em 1.3748374953em 7px hsla(46.808136038, 100%, 50%, 0.9), 0.2360255129em 2.3813097174em 7px hsla(270.5905599763, 100%, 50%, 0.9), -0.0299324575em 1.9424635956em 7px hsla(136.8906182505, 100%, 50%, 0.9), -0.3916799835em 0.2514019578em 7px hsla(277.16212239, 100%, 50%, 0.9), 1.5614404085em 0.8392484533em 7px hsla(4.8024789453, 100%, 50%, 0.9), 2.4538422411em -0.2847223544em 7px hsla(33.9185269327, 100%, 50%, 0.9), 0.240687445em -0.4175248889em 7px hsla(61.6741166096, 100%, 50%, 0.9), 0.7275581119em 0.083790105em 7px hsla(279.3897753509, 100%, 50%, 0.9), 1.7529841241em -0.1977489752em 7px hsla(196.3067716858, 100%, 50%, 0.9), 1.1644083657em 1.1627828453em 7px hsla(47.7894565049, 100%, 50%, 0.9), 1.5437499319em 1.5005260033em 7px hsla(6.1150933212, 100%, 50%, 0.9), 1.9533323642em 1.2549186657em 7px hsla(229.8118360254, 100%, 50%, 0.9), 1.749648286em 0.2689272273em 7px hsla(335.2752283318, 100%, 50%, 0.9), 2.4456349602em 0.247484148em 7px hsla(275.5105031176, 100%, 50%, 0.9), 0.9569289094em -0.4056042251em 7px hsla(333.5097999331, 100%, 50%, 0.9), 2.1667784546em 0.1605441145em 7px hsla(214.6382301827, 100%, 50%, 0.9), -0.0225086693em -0.4781976839em 7px hsla(297.1561422123, 100%, 50%, 0.9), 0.6398475298em 2.3553535663em 7px hsla(245.7478624134, 100%, 50%, 0.9), 1.0103568549em 0.8682947236em 7px hsla(146.1635074456, 100%, 50%, 0.9), 0.6645155332em -0.4111348345em 7px hsla(167.0405990275, 100%, 50%, 0.9), 1.1621853065em 1.9711396085em 7px hsla(121.672212295, 100%, 50%, 0.9);
  z-index: -1;
  pointer-events: none;
  animation-duration: 43s;
  animation-delay: -32s;
}

head::before {
  text-shadow: 1.5622786781em 1.8119902656em 7px hsla(151.4028884834, 100%, 50%, 0.9), 1.2730468125em 1.9361797092em 7px hsla(81.701261856, 100%, 50%, 0.9), 1.2602477276em 1.4325473431em 7px hsla(277.9153046643, 100%, 50%, 0.9), 0.5491768915em 0.5225609998em 7px hsla(89.6011101648, 100%, 50%, 0.9), 2.110474841em 0.308252089em 7px hsla(326.1459084707, 100%, 50%, 0.9), 1.255896764em 1.8246253865em 7px hsla(24.8844734588, 100%, 50%, 0.9), -0.2265538861em 2.331068027em 7px hsla(349.0992931835, 100%, 50%, 0.9), 1.7241827385em 0.7966224561em 7px hsla(24.6482460644, 100%, 50%, 0.9), 1.8214324916em -0.4854142052em 7px hsla(78.6806891769, 100%, 50%, 0.9), 0.0319134912em -0.2595836747em 7px hsla(11.2825811111, 100%, 50%, 0.9), -0.1950657277em 0.529559233em 7px hsla(300.5118053374, 100%, 50%, 0.9), 1.8302199608em 2.3729036687em 7px hsla(321.019127769, 100%, 50%, 0.9), 1.5456939041em -0.2051954288em 7px hsla(20.4957128044, 100%, 50%, 0.9), 0.4891111607em 2.0395943554em 7px hsla(290.8105627265, 100%, 50%, 0.9), 2.0368414419em 2.3287784716em 7px hsla(299.4238754668, 100%, 50%, 0.9), 2.4126750934em 0.9072740066em 7px hsla(88.2140239914, 100%, 50%, 0.9), 0.0724736915em 2.0314430609em 7px hsla(248.6628060135, 100%, 50%, 0.9), -0.1620879937em 1.8380492044em 7px hsla(101.6520985238, 100%, 50%, 0.9), 0.9791838926em -0.4282630005em 7px hsla(119.1718414682, 100%, 50%, 0.9), 0.7945639745em -0.1426449501em 7px hsla(99.1921325598, 100%, 50%, 0.9), -0.2075836956em 2.0505327692em 7px hsla(275.5062966168, 100%, 50%, 0.9), -0.4876138783em 1.0133903973em 7px hsla(338.2495782841, 100%, 50%, 0.9), 0.1572264271em 2.4010362314em 7px hsla(150.6139601869, 100%, 50%, 0.9), -0.0274063207em -0.2246811406em 7px hsla(77.9178728615, 100%, 50%, 0.9), 0.300334117em 2.1150496025em 7px hsla(188.2646850309, 100%, 50%, 0.9), -0.2899829291em 1.2327567448em 7px hsla(331.6133628997, 100%, 50%, 0.9), -0.2705043243em 1.2179696861em 7px hsla(116.6546700103, 100%, 50%, 0.9), 1.9181598623em 1.55730803em 7px hsla(105.7159066732, 100%, 50%, 0.9), 1.3342388163em 0.7058041188em 7px hsla(194.7283503583, 100%, 50%, 0.9), 1.0454764732em 1.6870885015em 7px hsla(357.5875902043, 100%, 50%, 0.9), 1.3770749188em 1.9109398946em 7px hsla(7.8961573412, 100%, 50%, 0.9), 2.0540151845em 0.7919598925em 7px hsla(5.6102244145, 100%, 50%, 0.9), 1.9152371788em 1.9474839381em 7px hsla(25.8107492585, 100%, 50%, 0.9), 1.6294627663em 0.3246243769em 7px hsla(48.7104528336, 100%, 50%, 0.9), 0.009775392em 1.4572267581em 7px hsla(35.3448451096, 100%, 50%, 0.9), 0.0241388939em 2.3317914366em 7px hsla(139.8640570363, 100%, 50%, 0.9), 0.5917226597em 1.3424264091em 7px hsla(205.3269333148, 100%, 50%, 0.9), 0.0495982643em 1.3193903523em 7px hsla(215.4149511604, 100%, 50%, 0.9), 2.0803551204em 0.0751244259em 7px hsla(62.9686871361, 100%, 50%, 0.9), 2.295793754em 0.4181614687em 7px hsla(124.1987216001, 100%, 50%, 0.9), 2.4480845671em 0.5001535284em 7px hsla(28.4429482086, 100%, 50%, 0.9);
  z-index: -1;
  pointer-events: none;
  animation-duration: 42s;
  animation-delay: -23s;
}

head::after {
  text-shadow: 0.8690452936em 1.7190020189em 7px hsla(175.0942915191, 100%, 50%, 0.9), 1.0506680983em 1.6040979485em 7px hsla(299.6379755663, 100%, 50%, 0.9), -0.3331346242em 0.4164062437em 7px hsla(293.9028410703, 100%, 50%, 0.9), 1.5523101789em 0.9648906033em 7px hsla(357.6528385301, 100%, 50%, 0.9), 2.0877760791em 2.4848179317em 7px hsla(185.2341970953, 100%, 50%, 0.9), 2.4490314219em 1.3308404295em 7px hsla(5.280749933, 100%, 50%, 0.9), -0.116594405em 0.3624540869em 7px hsla(19.3193890377, 100%, 50%, 0.9), 1.4113049161em 0.5122585196em 7px hsla(242.6895053928, 100%, 50%, 0.9), 0.0668143481em 2.1666473736em 7px hsla(6.1725501194, 100%, 50%, 0.9), 1.790192059em 0.2234153674em 7px hsla(355.7438281842, 100%, 50%, 0.9), -0.4010444218em 1.5592908735em 7px hsla(114.748762415, 100%, 50%, 0.9), 2.3778447076em -0.0821402562em 7px hsla(118.9383964271, 100%, 50%, 0.9), 0.3024351121em -0.3487380352em 7px hsla(151.8565952565, 100%, 50%, 0.9), 1.127887343em 0.0727220128em 7px hsla(146.1899127788, 100%, 50%, 0.9), 2.0864636464em 2.047732848em 7px hsla(122.831625468, 100%, 50%, 0.9), 1.0392654129em 0.2517640276em 7px hsla(314.7853422518, 100%, 50%, 0.9), 1.0603429454em 2.2831905068em 7px hsla(212.1806285644, 100%, 50%, 0.9), 0.9436904201em 1.1634321364em 7px hsla(253.2666318431, 100%, 50%, 0.9), 0.1716980944em -0.3737410797em 7px hsla(294.7382447498, 100%, 50%, 0.9), 1.7683180944em 0.0069511765em 7px hsla(90.2103138454, 100%, 50%, 0.9), 0.9599943496em 0.76860916em 7px hsla(63.129811842, 100%, 50%, 0.9), 0.7467598321em 0.6795003891em 7px hsla(99.5876003934, 100%, 50%, 0.9), 1.2734156993em 2.3972031419em 7px hsla(98.2646003738, 100%, 50%, 0.9), 0.1967533366em 1.221973511em 7px hsla(193.9473635682, 100%, 50%, 0.9), 1.3344008432em 2.4233252724em 7px hsla(55.1052873105, 100%, 50%, 0.9), 0.2999855048em 0.64689577em 7px hsla(233.9418203007, 100%, 50%, 0.9), -0.3734602445em 0.6067881401em 7px hsla(333.0891918296, 100%, 50%, 0.9), 1.9615473905em 2.4982250049em 7px hsla(189.1771746783, 100%, 50%, 0.9), 1.5409864813em 0.1709517491em 7px hsla(131.3935141665, 100%, 50%, 0.9), 1.2254664773em 0.4114241054em 7px hsla(49.5076986459, 100%, 50%, 0.9), 1.2103495584em -0.0092631795em 7px hsla(124.9760861541, 100%, 50%, 0.9), -0.4366764589em 1.7958289622em 7px hsla(183.0475515825, 100%, 50%, 0.9), 1.0551586526em -0.1950864392em 7px hsla(224.5350124305, 100%, 50%, 0.9), -0.0811495845em 1.8799510472em 7px hsla(222.4751814379, 100%, 50%, 0.9), -0.2072746858em 1.3130871455em 7px hsla(118.323176088, 100%, 50%, 0.9), -0.2436427389em 0.8719982647em 7px hsla(26.8103078566, 100%, 50%, 0.9), 1.1118784913em 2.3166436256em 7px hsla(16.2206889189, 100%, 50%, 0.9), 1.7391410834em 2.3921234342em 7px hsla(57.836596533, 100%, 50%, 0.9), 0.5679799981em 1.4678154596em 7px hsla(311.8189057173, 100%, 50%, 0.9), 0.135746943em 1.2438723434em 7px hsla(334.9441466048, 100%, 50%, 0.9), 1.8678790418em 1.9370668845em 7px hsla(242.7086160496, 100%, 50%, 0.9);
  z-index: -1;
  pointer-events: none;
  animation-duration: 41s;
  animation-delay: -19s;
}

@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}

/*# sourceMappingURL=output.css.map */
