@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
html {
  font: 5vmin/1.3 Serif;
  overflow: auto;
  background: #123;
}

body, head {
  display: block;
  font-size: 52px;
  color: white;
  background-color: transparent;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: auto;
}

h3 {
  font-size: 0.8em;
  font-weight: 400;
  font-style: normal;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  text-align: center;
}

p {
  font-size: 0.6em;
  font-weight: 400;
  font-style: normal;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
}

.space-grotesk-main {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#background-static {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/galaxy2.jpg) no-repeat center center fixed;
  background-size: cover;
  z-index: -1;
}

#solar-systems-title {
  color: white;
  text-align: center;
}

#glow {
  color: #fdec6e;
}
#glow:hover {
  color: #fdec6e;
  text-shadow: 0px 0px 30px #fdec6e;
}

head::before, head::after,
body::before, body::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: ".";
  mix-blend-mode: screen;
  animation: 44s -27s move infinite ease-in-out alternate;
}

body::before {
  text-shadow: -0.4126457791em -0.0925199798em 7px hsla(46.4619549105, 100%, 50%, 0.9), 1.6451856039em 1.9654662373em 7px hsla(297.8777953367, 100%, 50%, 0.9), 0.237293928em 0.8880133414em 7px hsla(356.2380284828, 100%, 50%, 0.9), -0.4573970318em 1.6354565445em 7px hsla(186.8372809051, 100%, 50%, 0.9), 1.7469056435em -0.2664850384em 7px hsla(189.5486712355, 100%, 50%, 0.9), 0.3660380348em 1.8792184649em 7px hsla(13.390254501, 100%, 50%, 0.9), 0.8448741514em 0.4759843909em 7px hsla(346.6298465362, 100%, 50%, 0.9), -0.2273334872em 1.3121686537em 7px hsla(261.2394849436, 100%, 50%, 0.9), -0.295868446em -0.4993617563em 7px hsla(219.1576141251, 100%, 50%, 0.9), 0.3040614863em 1.9020941533em 7px hsla(83.0572715244, 100%, 50%, 0.9), 2.0414975349em 0.8372505556em 7px hsla(299.3134757684, 100%, 50%, 0.9), 1.8539661515em 1.7069214438em 7px hsla(121.3097535307, 100%, 50%, 0.9), 1.9813212962em -0.2173561036em 7px hsla(190.5131993384, 100%, 50%, 0.9), 1.0669894593em 0.0799709089em 7px hsla(204.8013845211, 100%, 50%, 0.9), 2.1537236907em 2.1783307521em 7px hsla(298.6915607637, 100%, 50%, 0.9), 1.4005101585em 0.0963492161em 7px hsla(277.7368783903, 100%, 50%, 0.9), 0.1864852206em 0.3837752479em 7px hsla(183.324692561, 100%, 50%, 0.9), 1.1254559506em 2.4360396672em 7px hsla(211.2007812899, 100%, 50%, 0.9), 0.4090439545em 0.0538235749em 7px hsla(194.3662509347, 100%, 50%, 0.9), -0.3007999507em 0.2256010721em 7px hsla(74.3135018686, 100%, 50%, 0.9), -0.3793860625em 0.3563619137em 7px hsla(33.7636194788, 100%, 50%, 0.9), 0.2767995866em 1.0286909978em 7px hsla(59.7156679018, 100%, 50%, 0.9), 0.6221804504em 0.5438804058em 7px hsla(125.6686323127, 100%, 50%, 0.9), 1.0763394332em 0.0107340649em 7px hsla(121.3235656514, 100%, 50%, 0.9), 0.0833551754em 2.2424705814em 7px hsla(291.0113990068, 100%, 50%, 0.9), 0.8869943582em 0.4733739807em 7px hsla(332.3717788143, 100%, 50%, 0.9), 1.314622097em 0.7984259468em 7px hsla(297.0743960514, 100%, 50%, 0.9), 1.9385773283em 0.8389785677em 7px hsla(358.5402930111, 100%, 50%, 0.9), 0.0106813858em 1.0951523279em 7px hsla(248.6249384359, 100%, 50%, 0.9), 1.4675482352em 1.0685528185em 7px hsla(181.0211120304, 100%, 50%, 0.9), 0.2921082773em 2.2186595716em 7px hsla(257.5569995826, 100%, 50%, 0.9), 1.7552727098em 1.3407277757em 7px hsla(322.6253150485, 100%, 50%, 0.9), -0.1314729205em 0.3112308073em 7px hsla(332.1368141758, 100%, 50%, 0.9), -0.0166403649em 0.1016369922em 7px hsla(138.067523139, 100%, 50%, 0.9), 0.3815141091em 0.6337637738em 7px hsla(218.7203988533, 100%, 50%, 0.9), 0.0055848883em -0.1047813058em 7px hsla(246.0497464195, 100%, 50%, 0.9), 2.4137871749em 1.5631422638em 7px hsla(324.1026742279, 100%, 50%, 0.9), 0.1121145668em -0.4902836719em 7px hsla(110.2796235429, 100%, 50%, 0.9), -0.1786161654em -0.0848475232em 7px hsla(354.9825854582, 100%, 50%, 0.9), 1.5339045933em 1.2134200686em 7px hsla(221.4847026024, 100%, 50%, 0.9), 0.7098062307em 0.2177561925em 7px hsla(284.6603349584, 100%, 50%, 0.9);
  z-index: -1;
  animation-duration: 44s;
  animation-delay: -27s;
}

body::after {
  text-shadow: 1.7710318421em -0.1908779537em 7px hsla(127.159560025, 100%, 50%, 0.9), 2.3686027668em 1.9965019762em 7px hsla(146.7025546389, 100%, 50%, 0.9), 1.1037168058em 0.2678229675em 7px hsla(274.5309179561, 100%, 50%, 0.9), 2.3032293658em -0.2914517255em 7px hsla(248.2279432248, 100%, 50%, 0.9), 1.4158282311em 0.5959074401em 7px hsla(251.972521476, 100%, 50%, 0.9), 2.3704032074em 2.1251693925em 7px hsla(120.9277691221, 100%, 50%, 0.9), 1.1540139516em 1.0951484378em 7px hsla(255.8286963319, 100%, 50%, 0.9), 1.4854135205em 1.3317340028em 7px hsla(134.3037164167, 100%, 50%, 0.9), -0.0955683436em 0.0432407898em 7px hsla(177.712416774, 100%, 50%, 0.9), -0.4805753282em 2.477090898em 7px hsla(219.6708321625, 100%, 50%, 0.9), 0.1434985392em 2.1283063738em 7px hsla(252.7962425454, 100%, 50%, 0.9), 0.3436867284em 1.6363041137em 7px hsla(122.5926869292, 100%, 50%, 0.9), 0.7357164138em -0.1957319421em 7px hsla(114.6543129056, 100%, 50%, 0.9), 0.3526320468em 1.9950697911em 7px hsla(227.961555416, 100%, 50%, 0.9), 1.0118102915em 0.547305874em 7px hsla(81.8428180703, 100%, 50%, 0.9), 0.4143289962em 0.6184425959em 7px hsla(332.5293726674, 100%, 50%, 0.9), 1.0220775123em 0.3067509512em 7px hsla(94.7069345758, 100%, 50%, 0.9), 2.1147946762em 1.4688283938em 7px hsla(245.9696753341, 100%, 50%, 0.9), 1.9198452652em 0.2812971355em 7px hsla(43.6695632824, 100%, 50%, 0.9), 2.4434932413em -0.4460454424em 7px hsla(105.8177249284, 100%, 50%, 0.9), 0.4992369789em 1.6149510136em 7px hsla(193.9380630751, 100%, 50%, 0.9), 2.180714434em 0.2311506243em 7px hsla(244.9073748471, 100%, 50%, 0.9), 0.9737418632em 0.0721205071em 7px hsla(342.6168713774, 100%, 50%, 0.9), 0.1879333171em 0.2054474202em 7px hsla(73.8050450926, 100%, 50%, 0.9), 1.647230535em 1.0713911131em 7px hsla(219.7146181313, 100%, 50%, 0.9), 0.3500747643em 0.5739227148em 7px hsla(125.1170380889, 100%, 50%, 0.9), 2.2243500657em 1.0836510243em 7px hsla(183.4808174921, 100%, 50%, 0.9), 0.3256183609em 1.9814117286em 7px hsla(341.4294749362, 100%, 50%, 0.9), 0.7843544366em 1.2384129917em 7px hsla(166.6575576614, 100%, 50%, 0.9), 1.9370247757em 0.5088557189em 7px hsla(67.2160725983, 100%, 50%, 0.9), 2.0620881219em 2.211284186em 7px hsla(355.2239837618, 100%, 50%, 0.9), 0.3519952271em 1.3643062719em 7px hsla(21.5800601395, 100%, 50%, 0.9), 1.1228609451em 0.7916052049em 7px hsla(276.3111788355, 100%, 50%, 0.9), 1.4818913983em 0.6615578139em 7px hsla(276.1347079514, 100%, 50%, 0.9), 0.0099503576em 1.6285164428em 7px hsla(258.1724522861, 100%, 50%, 0.9), 0.6847372304em -0.1736435462em 7px hsla(96.7768146576, 100%, 50%, 0.9), 2.367377521em 1.6834207915em 7px hsla(327.7161879769, 100%, 50%, 0.9), -0.1270097617em 0.7726232777em 7px hsla(220.9866828046, 100%, 50%, 0.9), 1.6911363461em -0.4514287208em 7px hsla(127.0596696567, 100%, 50%, 0.9), 1.6940587386em 1.4626736428em 7px hsla(330.4019292488, 100%, 50%, 0.9), 0.8547870788em 2.3550703825em 7px hsla(228.023692127, 100%, 50%, 0.9);
  z-index: -1;
  animation-duration: 43s;
  animation-delay: -32s;
}

head::before {
  text-shadow: 0.8879025884em 1.1693224506em 7px hsla(19.014285251, 100%, 50%, 0.9), 0.4204550276em 1.0780403991em 7px hsla(318.1905912915, 100%, 50%, 0.9), 1.8145406117em 0.2291932469em 7px hsla(135.6022571493, 100%, 50%, 0.9), -0.4775315378em 0.6258182548em 7px hsla(213.0464013419, 100%, 50%, 0.9), 1.5850152762em 2.1596354605em 7px hsla(30.1122497427, 100%, 50%, 0.9), 2.4548409149em -0.4497790602em 7px hsla(253.9863238571, 100%, 50%, 0.9), -0.0382603672em 2.2474215536em 7px hsla(284.9395621549, 100%, 50%, 0.9), 0.2459713658em 2.4389990791em 7px hsla(37.3076766594, 100%, 50%, 0.9), 1.2789491892em 1.2612139364em 7px hsla(118.8509272995, 100%, 50%, 0.9), 2.1991580293em -0.1923910339em 7px hsla(178.3840875379, 100%, 50%, 0.9), 0.1003135478em 0.3483923751em 7px hsla(80.1307696247, 100%, 50%, 0.9), -0.3057814687em 0.6281937177em 7px hsla(52.0273588118, 100%, 50%, 0.9), 0.6487529819em 1.6823790028em 7px hsla(4.7101674705, 100%, 50%, 0.9), 0.8767477741em 0.0271325188em 7px hsla(48.2826583553, 100%, 50%, 0.9), -0.2825189436em 1.0548203128em 7px hsla(280.0356380839, 100%, 50%, 0.9), 1.3845285969em 0.6714022216em 7px hsla(29.6912743151, 100%, 50%, 0.9), -0.4953889383em -0.1935390019em 7px hsla(170.697514939, 100%, 50%, 0.9), 1.5777724339em 1.4117256706em 7px hsla(236.5112998386, 100%, 50%, 0.9), 1.3704840828em -0.3338710457em 7px hsla(129.4547282849, 100%, 50%, 0.9), -0.0145579046em -0.4182031924em 7px hsla(89.5272043765, 100%, 50%, 0.9), 1.5051520722em 2.2919208331em 7px hsla(184.7087477589, 100%, 50%, 0.9), 0.3707860063em 0.8591892946em 7px hsla(243.0567848767, 100%, 50%, 0.9), 0.047853331em 1.5735089298em 7px hsla(249.1464550787, 100%, 50%, 0.9), 0.101174306em -0.2543226761em 7px hsla(93.607952865, 100%, 50%, 0.9), 0.944910351em 1.5847002979em 7px hsla(358.8514656154, 100%, 50%, 0.9), 0.5534508552em -0.2536134592em 7px hsla(22.8382743121, 100%, 50%, 0.9), 2.4725963966em 1.3827817327em 7px hsla(353.8829176848, 100%, 50%, 0.9), 1.8944260804em 2.0871493526em 7px hsla(156.0308572924, 100%, 50%, 0.9), 0.5250175818em 2.1203558083em 7px hsla(15.7899934533, 100%, 50%, 0.9), 1.7116903329em 2.2084035807em 7px hsla(47.777201186, 100%, 50%, 0.9), 0.9388966805em 2.0732946399em 7px hsla(116.8587083493, 100%, 50%, 0.9), 1.7141396541em 1.4244046079em 7px hsla(7.7363969295, 100%, 50%, 0.9), -0.2343702142em 0.7002100198em 7px hsla(178.9742829592, 100%, 50%, 0.9), -0.3078007568em 2.2316680638em 7px hsla(50.2882799635, 100%, 50%, 0.9), 2.3501042937em 0.257742845em 7px hsla(193.3585694807, 100%, 50%, 0.9), -0.4835034189em -0.1679995373em 7px hsla(327.61389084, 100%, 50%, 0.9), 0.4899656635em -0.4845720262em 7px hsla(264.3231124764, 100%, 50%, 0.9), 1.1925697924em 0.6648280448em 7px hsla(28.5267263894, 100%, 50%, 0.9), 1.023792967em 1.0172505703em 7px hsla(276.7384291699, 100%, 50%, 0.9), 1.6465493254em 1.9586614252em 7px hsla(105.7040195923, 100%, 50%, 0.9), 1.5139635297em 0.0669352346em 7px hsla(36.704528606, 100%, 50%, 0.9);
  z-index: -1;
  animation-duration: 42s;
  animation-delay: -23s;
}

head::after {
  text-shadow: 1.6856792441em -0.231452223em 7px hsla(324.1350155101, 100%, 50%, 0.9), 1.3786632951em 1.4011414853em 7px hsla(338.4855057599, 100%, 50%, 0.9), 1.3390815757em 0.7385268294em 7px hsla(315.0062692223, 100%, 50%, 0.9), -0.0304626353em 0.8659373773em 7px hsla(34.8363704834, 100%, 50%, 0.9), 2.2328975874em 1.6390907571em 7px hsla(160.9774380164, 100%, 50%, 0.9), 1.1937990177em 0.6294015086em 7px hsla(40.3123536402, 100%, 50%, 0.9), 1.7198862158em 2.1228969666em 7px hsla(358.0065655232, 100%, 50%, 0.9), 1.2803304363em 2.2164567318em 7px hsla(187.8693420385, 100%, 50%, 0.9), -0.4007373757em 0.3274896603em 7px hsla(121.9429676782, 100%, 50%, 0.9), 1.0927073691em 2.4272217125em 7px hsla(357.926309217, 100%, 50%, 0.9), 2.3965500408em 1.2782041548em 7px hsla(201.3623543956, 100%, 50%, 0.9), 0.4047145849em -0.0957485878em 7px hsla(300.6269529258, 100%, 50%, 0.9), 1.6396532969em -0.175939987em 7px hsla(292.5106639941, 100%, 50%, 0.9), 2.1682133043em 0.022844835em 7px hsla(234.6975122403, 100%, 50%, 0.9), 0.5138037908em 0.9313452983em 7px hsla(70.8112673249, 100%, 50%, 0.9), -0.2555880444em 0.9474982131em 7px hsla(274.9574807956, 100%, 50%, 0.9), 0.8697368385em -0.4101364527em 7px hsla(281.6881970174, 100%, 50%, 0.9), 1.3065834052em 0.2110426782em 7px hsla(216.6050392498, 100%, 50%, 0.9), 2.3470884548em 0.5196783244em 7px hsla(102.1986834751, 100%, 50%, 0.9), 1.0129402709em 2.4999542995em 7px hsla(170.6048453848, 100%, 50%, 0.9), 2.0512465375em 2.2038180619em 7px hsla(117.8558961082, 100%, 50%, 0.9), -0.0825454273em 1.6811730113em 7px hsla(108.4478400957, 100%, 50%, 0.9), 2.4631543326em 1.8022381519em 7px hsla(259.2586113612, 100%, 50%, 0.9), 2.2164910825em 1.5042452653em 7px hsla(6.7095686578, 100%, 50%, 0.9), 2.0496705039em 2.0046303397em 7px hsla(139.1461129057, 100%, 50%, 0.9), -0.3330658468em 0.6368299916em 7px hsla(349.5845142941, 100%, 50%, 0.9), 1.781558641em 2.2259121501em 7px hsla(237.1427039624, 100%, 50%, 0.9), 1.1564757117em 0.1987913079em 7px hsla(181.3403410937, 100%, 50%, 0.9), 0.8202801216em -0.2336069696em 7px hsla(63.4009963882, 100%, 50%, 0.9), 1.4910200494em 1.2368072506em 7px hsla(355.6897868796, 100%, 50%, 0.9), 2.3192321997em -0.1311104032em 7px hsla(93.5259108369, 100%, 50%, 0.9), 1.8978514318em 1.4369992291em 7px hsla(245.345967454, 100%, 50%, 0.9), 0.0868198478em 0.0473096485em 7px hsla(290.8956880566, 100%, 50%, 0.9), 1.6758438411em 1.5318791337em 7px hsla(98.1892912471, 100%, 50%, 0.9), 1.9979095127em 1.7755200828em 7px hsla(242.005365268, 100%, 50%, 0.9), -0.4721184647em -0.2607846044em 7px hsla(272.7183799279, 100%, 50%, 0.9), 0.7573797984em -0.1508565963em 7px hsla(342.871821818, 100%, 50%, 0.9), 0.1982404593em 1.7852782169em 7px hsla(128.848499003, 100%, 50%, 0.9), 1.0904008584em 1.3628686409em 7px hsla(79.8335751461, 100%, 50%, 0.9), 1.3636457527em 0.051129413em 7px hsla(23.4241230396, 100%, 50%, 0.9), 0.3474884517em 1.6591746371em 7px hsla(19.1988655194, 100%, 50%, 0.9);
  z-index: -1;
  animation-duration: 41s;
  animation-delay: -19s;
}

@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}

/*# sourceMappingURL=output.css.map */
