@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
html {
  font: 5vmin/1.3 Serif;
  overflow: auto;
  background: #123;
}

body, head {
  display: block;
  font-size: 52px;
  color: white;
  background-color: transparent;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: auto;
}

h3 {
  font-size: 0.8em;
  font-weight: 400;
  font-style: normal;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  text-align: center;
}

p {
  font-size: 0.6em;
  font-weight: 400;
  font-style: normal;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
}

.space-grotesk-main {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#background-static {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/galaxy2.jpg) no-repeat center center fixed;
  background-size: cover;
  z-index: -1;
}

#solar-systems-title {
  color: white;
  text-align: center;
}

#glow {
  color: #fdec6e;
}
#glow:hover {
  color: #fdec6e;
  text-shadow: 0px 0px 30px #fdec6e;
}

head::before, head::after,
body::before, body::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: ".";
  mix-blend-mode: screen;
  animation: 44s -27s move infinite ease-in-out alternate;
}

body::before {
  text-shadow: 0.6773859667em -0.4825350913em 7px hsla(279.2675101787, 100%, 50%, 0.9), 0.2517961969em -0.0557948453em 7px hsla(109.2053099664, 100%, 50%, 0.9), 0.9291546592em 0.4811253807em 7px hsla(340.0598083531, 100%, 50%, 0.9), -0.386038421em 1.3728654642em 7px hsla(289.5799265741, 100%, 50%, 0.9), 2.3200372345em 1.4340113144em 7px hsla(182.6787255445, 100%, 50%, 0.9), 0.2807082177em 0.8158394217em 7px hsla(18.6961662126, 100%, 50%, 0.9), 1.8021291701em 0.2720611815em 7px hsla(121.5060350966, 100%, 50%, 0.9), 1.7232358813em 0.9871664393em 7px hsla(150.5784698272, 100%, 50%, 0.9), 0.3751244685em -0.3396592717em 7px hsla(238.2862872254, 100%, 50%, 0.9), 1.5398886355em -0.3448431347em 7px hsla(133.0222459789, 100%, 50%, 0.9), 1.4885733045em 1.0658247882em 7px hsla(132.4665546987, 100%, 50%, 0.9), 1.1917991507em 1.1938398018em 7px hsla(51.3926757732, 100%, 50%, 0.9), 1.4100432717em -0.141702796em 7px hsla(17.4578198822, 100%, 50%, 0.9), 2.1000983032em -0.1334146949em 7px hsla(61.8327245826, 100%, 50%, 0.9), 1.961849058em 0.8439603605em 7px hsla(340.4593701632, 100%, 50%, 0.9), 2.2374955693em 1.9412242637em 7px hsla(164.9974093118, 100%, 50%, 0.9), -0.3640164082em 0.2521669551em 7px hsla(23.9369925894, 100%, 50%, 0.9), 1.0595374688em 1.3337715982em 7px hsla(108.0822230006, 100%, 50%, 0.9), 1.5134811934em 0.0834812542em 7px hsla(253.5025340572, 100%, 50%, 0.9), 2.2919347599em 0.2054150341em 7px hsla(50.4899859668, 100%, 50%, 0.9), 1.7363889083em 0.73109494em 7px hsla(64.7913540916, 100%, 50%, 0.9), 1.4313499534em 1.209816017em 7px hsla(84.2557407331, 100%, 50%, 0.9), 2.2924922466em 1.0728914713em 7px hsla(109.8790805196, 100%, 50%, 0.9), 0.359864535em 0.6262303842em 7px hsla(118.8069457792, 100%, 50%, 0.9), 2.4461694272em -0.3146602054em 7px hsla(104.0550215443, 100%, 50%, 0.9), -0.3021433333em 1.0862104422em 7px hsla(147.0830725252, 100%, 50%, 0.9), 0.6465326149em 1.2118865037em 7px hsla(260.479286364, 100%, 50%, 0.9), 1.0061875596em 1.0814346363em 7px hsla(85.679807949, 100%, 50%, 0.9), 2.0658470554em 1.6739081046em 7px hsla(221.9962920115, 100%, 50%, 0.9), 0.6269205573em -0.1136993659em 7px hsla(202.6347891803, 100%, 50%, 0.9), -0.382026888em 0.261540242em 7px hsla(173.867877643, 100%, 50%, 0.9), 2.3924043666em -0.2388073422em 7px hsla(235.3668142482, 100%, 50%, 0.9), 1.8788130822em 2.4941619292em 7px hsla(202.6610031799, 100%, 50%, 0.9), -0.3780809408em 0.8383003142em 7px hsla(205.0328169467, 100%, 50%, 0.9), 1.1786434978em 1.5933903479em 7px hsla(13.2837241214, 100%, 50%, 0.9), -0.1358419739em 1.8403435301em 7px hsla(270.5878156282, 100%, 50%, 0.9), -0.0198759374em 1.4175481655em 7px hsla(130.4592923166, 100%, 50%, 0.9), 0.0247340775em -0.2553469917em 7px hsla(2.4723197712, 100%, 50%, 0.9), 1.3946386714em 1.2258506536em 7px hsla(165.2874303316, 100%, 50%, 0.9), -0.4834086043em 1.5904796512em 7px hsla(322.8494884735, 100%, 50%, 0.9), 1.8066366582em 0.3835766606em 7px hsla(302.097688399, 100%, 50%, 0.9);
  z-index: -1;
  pointer-events: none;
  animation-duration: 44s;
  animation-delay: -27s;
}

body::after {
  text-shadow: 1.1771619101em 0.2513868287em 7px hsla(147.239698867, 100%, 50%, 0.9), 0.857725748em 1.8095249661em 7px hsla(181.2863536054, 100%, 50%, 0.9), -0.1370479981em 1.9176356723em 7px hsla(243.4900541992, 100%, 50%, 0.9), 1.936825755em -0.3516525871em 7px hsla(320.115299985, 100%, 50%, 0.9), 0.2362201761em 0.2212184234em 7px hsla(285.7821085192, 100%, 50%, 0.9), 2.271086015em 0.9067529579em 7px hsla(249.8598782034, 100%, 50%, 0.9), -0.4550255093em 1.0969125846em 7px hsla(19.8612007861, 100%, 50%, 0.9), 1.445184519em 1.4223649724em 7px hsla(0.2842715364, 100%, 50%, 0.9), 0.7846612865em 2.2861428571em 7px hsla(160.6815696322, 100%, 50%, 0.9), 0.1167777783em -0.3723589312em 7px hsla(105.6475550042, 100%, 50%, 0.9), -0.0095121598em 1.6132083554em 7px hsla(103.7483523564, 100%, 50%, 0.9), 1.3836801161em -0.4705529493em 7px hsla(254.8308887944, 100%, 50%, 0.9), 1.6635921212em 1.5197290058em 7px hsla(155.1009240798, 100%, 50%, 0.9), -0.3257852316em 0.7246801966em 7px hsla(102.4316388909, 100%, 50%, 0.9), 1.7064500844em -0.0217242739em 7px hsla(238.9731605573, 100%, 50%, 0.9), -0.4750145034em 2.4086812716em 7px hsla(337.4761427456, 100%, 50%, 0.9), 0.7821221873em 0.7133086544em 7px hsla(16.2680056126, 100%, 50%, 0.9), 0.3562459271em 1.8017003037em 7px hsla(162.3193499208, 100%, 50%, 0.9), 1.5342166795em 1.2888028413em 7px hsla(225.5808413069, 100%, 50%, 0.9), 1.2601155103em 0.5144763153em 7px hsla(190.2520157252, 100%, 50%, 0.9), 1.0531961918em 1.502083657em 7px hsla(202.3393520568, 100%, 50%, 0.9), -0.182722124em -0.4934923959em 7px hsla(306.8650427272, 100%, 50%, 0.9), 1.1366797626em -0.1496576194em 7px hsla(337.7326612474, 100%, 50%, 0.9), 1.6339781375em 1.2044675973em 7px hsla(190.7192070894, 100%, 50%, 0.9), 1.4325547321em 0.6148328134em 7px hsla(240.2676622885, 100%, 50%, 0.9), 1.1899209253em 1.0224936237em 7px hsla(359.518529814, 100%, 50%, 0.9), 2.047456498em 0.2776115153em 7px hsla(319.8679505808, 100%, 50%, 0.9), -0.4366524309em 1.1182344277em 7px hsla(330.5403925547, 100%, 50%, 0.9), 0.1034234721em 0.368246283em 7px hsla(261.1226929525, 100%, 50%, 0.9), 1.4185409472em 0.6981032071em 7px hsla(35.8080453313, 100%, 50%, 0.9), 0.383174969em 0.7149084362em 7px hsla(22.9115683324, 100%, 50%, 0.9), 1.0307423921em 2.4763244752em 7px hsla(278.8439393522, 100%, 50%, 0.9), 1.4766072898em -0.4872032032em 7px hsla(127.8818872139, 100%, 50%, 0.9), 1.7775139572em 1.7125524791em 7px hsla(3.8570373786, 100%, 50%, 0.9), -0.0778919685em 0.0761692853em 7px hsla(37.198679638, 100%, 50%, 0.9), -0.4194145756em -0.0549921187em 7px hsla(51.7125619718, 100%, 50%, 0.9), -0.1786809792em -0.4351562641em 7px hsla(242.9861510445, 100%, 50%, 0.9), 1.6946503176em 0.4014490927em 7px hsla(120.765350845, 100%, 50%, 0.9), -0.285136803em -0.2910093055em 7px hsla(121.844744651, 100%, 50%, 0.9), 1.0146998552em -0.0514949761em 7px hsla(194.6939210808, 100%, 50%, 0.9), -0.3750639018em 1.7698266228em 7px hsla(340.7585716912, 100%, 50%, 0.9);
  z-index: -1;
  pointer-events: none;
  animation-duration: 43s;
  animation-delay: -32s;
}

head::before {
  text-shadow: 1.1683390348em 0.6890014045em 7px hsla(270.3691221524, 100%, 50%, 0.9), 0.2976892755em 0.0024259145em 7px hsla(126.136917833, 100%, 50%, 0.9), 1.1228358649em 2.2958864831em 7px hsla(185.5232864453, 100%, 50%, 0.9), 0.599221536em 2.3448643119em 7px hsla(332.5026053083, 100%, 50%, 0.9), 1.3996579899em -0.1065494642em 7px hsla(136.6615484635, 100%, 50%, 0.9), 0.0649406098em 0.2345095049em 7px hsla(281.7003869465, 100%, 50%, 0.9), 0.1649388572em 1.4685459162em 7px hsla(272.5778118368, 100%, 50%, 0.9), 0.8903924458em 2.4316935428em 7px hsla(307.1871903351, 100%, 50%, 0.9), 1.8405180833em 1.5075668262em 7px hsla(211.573976552, 100%, 50%, 0.9), 1.2318410193em 1.9210240723em 7px hsla(69.1448775, 100%, 50%, 0.9), 1.0594282671em 1.6585095097em 7px hsla(188.593657412, 100%, 50%, 0.9), 0.9575046037em -0.0904192282em 7px hsla(13.5353854197, 100%, 50%, 0.9), 1.2220574826em 1.2276845094em 7px hsla(192.4366751966, 100%, 50%, 0.9), 0.2431643524em 1.2240775144em 7px hsla(189.985592492, 100%, 50%, 0.9), 1.8952015085em -0.4153418668em 7px hsla(182.3301870103, 100%, 50%, 0.9), 2.0997966611em 2.3962087641em 7px hsla(35.3130284496, 100%, 50%, 0.9), 2.1588859738em -0.3231487429em 7px hsla(321.0503785253, 100%, 50%, 0.9), 1.5099885178em 0.7898564812em 7px hsla(314.2522046334, 100%, 50%, 0.9), 2.3040747765em 0.1035023974em 7px hsla(307.3389255326, 100%, 50%, 0.9), 1.1584178421em 2.4943618745em 7px hsla(243.0797998179, 100%, 50%, 0.9), 0.2647182002em 1.2703732772em 7px hsla(243.0429187184, 100%, 50%, 0.9), 0.5243876306em 1.4580574138em 7px hsla(268.1665409589, 100%, 50%, 0.9), 0.0605113075em 0.2788769571em 7px hsla(25.9362959573, 100%, 50%, 0.9), 1.8559653513em 2.232744764em 7px hsla(29.1368667896, 100%, 50%, 0.9), 1.8775444805em 1.0635666929em 7px hsla(244.0768525574, 100%, 50%, 0.9), 1.5387122105em 1.5868003477em 7px hsla(171.1578683791, 100%, 50%, 0.9), 0.9156437042em 1.9665453998em 7px hsla(99.1401067941, 100%, 50%, 0.9), -0.1197157961em -0.2948652028em 7px hsla(87.5264909549, 100%, 50%, 0.9), 2.2745674003em 0.7089716352em 7px hsla(249.8363640207, 100%, 50%, 0.9), 2.3644626628em 0.1887900219em 7px hsla(210.9377294399, 100%, 50%, 0.9), 1.2088937421em -0.0552977841em 7px hsla(159.9212667465, 100%, 50%, 0.9), 1.1315469287em -0.2240844038em 7px hsla(72.3586472495, 100%, 50%, 0.9), 2.4224383351em -0.3823584019em 7px hsla(248.4943599026, 100%, 50%, 0.9), 2.0780410933em 0.1947834417em 7px hsla(183.4726403896, 100%, 50%, 0.9), 0.6523702825em 1.4953104105em 7px hsla(194.237605678, 100%, 50%, 0.9), 2.1780625948em 2.4532138965em 7px hsla(38.4202629791, 100%, 50%, 0.9), 2.3858101606em 0.7599650117em 7px hsla(254.370410189, 100%, 50%, 0.9), -0.2433273347em 2.2308361345em 7px hsla(155.6683976446, 100%, 50%, 0.9), 0.2303900932em -0.0205775015em 7px hsla(105.7800306673, 100%, 50%, 0.9), 0.7622543691em 1.2708207549em 7px hsla(73.8934327884, 100%, 50%, 0.9), 1.6137488221em 0.6309448038em 7px hsla(116.9439925196, 100%, 50%, 0.9);
  z-index: -1;
  pointer-events: none;
  animation-duration: 42s;
  animation-delay: -23s;
}

head::after {
  text-shadow: 2.2265677588em -0.3059532308em 7px hsla(117.5469161814, 100%, 50%, 0.9), 1.7971966962em 0.7809296775em 7px hsla(185.1273179485, 100%, 50%, 0.9), 0.8944595793em 1.6618004923em 7px hsla(38.0678344191, 100%, 50%, 0.9), 0.0350933877em -0.4541502446em 7px hsla(132.9617117192, 100%, 50%, 0.9), -0.1537410306em -0.1457998642em 7px hsla(85.0615274548, 100%, 50%, 0.9), -0.182988206em 0.2152024877em 7px hsla(143.0274981584, 100%, 50%, 0.9), 1.6886181418em 0.8337347564em 7px hsla(163.6378275207, 100%, 50%, 0.9), 1.7727915408em -0.3921491849em 7px hsla(72.1546833195, 100%, 50%, 0.9), 1.6469211168em 2.3233252008em 7px hsla(303.2598880763, 100%, 50%, 0.9), 2.1191574234em 0.2615328853em 7px hsla(240.1553482497, 100%, 50%, 0.9), 0.7224646371em 2.1296547213em 7px hsla(332.4303842872, 100%, 50%, 0.9), 2.4470181346em 1.9403613011em 7px hsla(211.9732507642, 100%, 50%, 0.9), 1.596526845em 0.6857195815em 7px hsla(125.7557583559, 100%, 50%, 0.9), -0.1311189636em 2.3393008844em 7px hsla(237.0472500233, 100%, 50%, 0.9), 1.0444116049em -0.4751405139em 7px hsla(241.1776756676, 100%, 50%, 0.9), 1.3491553799em 0.0230429548em 7px hsla(217.3553254412, 100%, 50%, 0.9), 0.0881131349em 1.7270249446em 7px hsla(43.7738045152, 100%, 50%, 0.9), 1.535306352em 0.2284459648em 7px hsla(158.9172313863, 100%, 50%, 0.9), 1.6486968889em 1.8044313234em 7px hsla(359.0155885051, 100%, 50%, 0.9), -0.1514347256em 0.1574394185em 7px hsla(32.6478566056, 100%, 50%, 0.9), 2.2633132109em 2.3544261671em 7px hsla(72.7019478998, 100%, 50%, 0.9), 1.6541616208em 2.031549106em 7px hsla(37.3501449865, 100%, 50%, 0.9), 2.0525718117em 0.6698660709em 7px hsla(173.0279197085, 100%, 50%, 0.9), 1.6570616823em 1.8459276117em 7px hsla(337.6682067131, 100%, 50%, 0.9), 1.0458703281em 1.8320118334em 7px hsla(261.2343687449, 100%, 50%, 0.9), -0.1858066088em -0.3855885266em 7px hsla(318.2228111377, 100%, 50%, 0.9), 0.1348698851em 1.2233558699em 7px hsla(343.9637082738, 100%, 50%, 0.9), 2.2208015542em 1.2674536254em 7px hsla(55.5584771442, 100%, 50%, 0.9), 1.3176808948em 1.5068095061em 7px hsla(94.4832565584, 100%, 50%, 0.9), 0.0231526261em -0.242954083em 7px hsla(348.6091864872, 100%, 50%, 0.9), -0.4700901948em 0.9922375226em 7px hsla(155.5365833139, 100%, 50%, 0.9), 1.9253631372em 1.4434432895em 7px hsla(47.6671270941, 100%, 50%, 0.9), 1.6186258285em 2.4115945436em 7px hsla(44.8612257485, 100%, 50%, 0.9), -0.4319910225em -0.0530920382em 7px hsla(286.332760677, 100%, 50%, 0.9), 1.3785685198em 0.0049781512em 7px hsla(247.0655741586, 100%, 50%, 0.9), 1.1603489048em 1.8409136169em 7px hsla(159.5587877168, 100%, 50%, 0.9), -0.2459563123em 2.2962045217em 7px hsla(208.4136243013, 100%, 50%, 0.9), 0.2670864703em -0.0218704973em 7px hsla(100.5286438192, 100%, 50%, 0.9), -0.1122726295em 0.4675812269em 7px hsla(7.1712597379, 100%, 50%, 0.9), -0.0999226118em 1.067470659em 7px hsla(109.7656451409, 100%, 50%, 0.9), -0.2573770739em -0.4909948038em 7px hsla(323.6359382602, 100%, 50%, 0.9);
  z-index: -1;
  pointer-events: none;
  animation-duration: 41s;
  animation-delay: -19s;
}

@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}

/*# sourceMappingURL=output.css.map */
